[{:kode "CC 2635"
  :contents [{:title "Postulat Dasar"
              :filename "cc2635x01"}]}
 {:kode "CC 2574"
  :contents [{:title "Persamaan Kuadrat"
              :filename "cc2574x01"}]}

 {:kode "CC 2584"
  :contents [{:title "Persamaan Garis Lurus"
              :filename "cc2584x01"}
             {:title "Fungsi Kuadrat"
              :filename "cc2584x02"}]}
 {:kode "CC 2419"
  :contents [{:title "Fungsi Kuadrat DP"
              :filename "cc2419x01"}]}

  {:kode "CC 2416"
   :contents [{:title "Grafik DP"
               :filename "cc2416x01"}]}

  {:kode "CC 2050"
   :contents [{:title "Pemantapan Konsep Grafik"
               :filename "cc2050x01"}]}

  {:kode "CC 2575"
   :contents [{:title "Pertidaksamaan Dasar"
               :filename "cc2575x01"}]}
   {:kode "CC 2576"
    :contents [{:title "Pertidaksamaan Dasar 2"
                :filename "cc2576x01"}]}
    {:kode "CC 2577"
     :contents [{:title "Pertidaksamaan Dasar Nilai Mutlak"
                 :filename "cc2577x01"}]}
   {:kode "CC 2578"
    :contents [{:title "Pertidaksamaan Dasar Nilai Mutlak Lanjutan"
                :filename "cc2578x01"}]}]
