[{:kode "CC 123"
  :contents [{:title "Jawara"
              :filename "botoh"}]}
 {:kode "CC 234"
  :contents [{:title "Busang"
              :filename "brutal"}
             {:title "Protocol"
              :filename "mereka"}]}
 {:kode "CC 2034"
  :contents [{:title "Purnawaktu"
              :filename "cc2034x01"}
             {:title "wateva"
              :filename "cc2034x02"}]}]