{% extends "base.html" %}

{% block content %}
<div class="tab-content">
   <div id="home" class="tab-pane fade in active">
      <h3>Postulat Dasar</h3>

      <p>Sebelum belajar matematika di zenius.net, penting banget banget lo untuk memahami beberapa postulat dasar
         berikut ini.
         Dengan memehami postulat dasar, lo bakal belajar matematika dengan asik dan gampang banget!
         Kalo lo bener-bener paham postulat dasar lo gak bakal cuma ngapal-ngapalin rumus buat ngerjain soal SBMPTN atau
         soal tes mata pelajaran matematika lainnya.
         Bukan cuma itu, Belajar matematika dengan postulat dasar juga bagus untuk perkembangan kognitif lo karena lo
         beneran mikir dalam menghadapi suatu masalah bukannya cuma ngapalin rumus doang <br>
         Oke langsung aja deh lo pelajari postulat dasar ini. Pertama-tama ada tiga postulat dasar yang mesti lo
         pahamin.</p>
      <br>
      <h4>Postulat Pertama</h4>

      <p class="eq">$$ A= A \cap \sim A\neq A $$</p>
      <br>
      <br>
      <br>

      <p>Postulat pertama, disebut juga 'concept of identity', mempermasalahkan identitas suatu persamaan.
         Sesuatu bisa disebut <em>sama</em> dengan sesuatu yang lain jika identitasnya sama baik secara substansi atau
         secara formasi.</p>
      <br>
      <h4>Postulat Kedua</h4>

      <p class="eq">$$ \square = \triangle \\
         f(\square) = f (\triangle) $$</p>
      <br>
      <br>
      <br>
      <br>

      <p> Nama postulat selanjutnya adalah preservation of equality. <br>
         Postulat kedua adalah cara lo mempertahankan kesamaan dalam suatu persamaan dengan memperlakukan hal yang sama
         kepada kedua sisi persamaan.<br>
         Maksudnya, kalo lo ngelakuin sesuatu ke si kotak, lo lakuin juga hal yang sama ke si segitiga.
      </p>
      <br>
      <h4>Postulat Ketiga</h4>

      <p class="eq">$$ \square = \triangle \\
         \square \Leftrightarrow \triangle $$ </p>
      <br>
      <br>
      <br>
      <br>

      <p>Postulat ketiga berguna ketika kapanpun lo ketemu kotak, lo bisa ganti si kotak dengan segitiga.</p>

      <p>Lengkapnya, langsung aja lo puter video postulat dasar ini!</p>

   </div>
   <div id="menu1" class="tab-pane fade">
      <h3></h3>

      <p></p>
   </div>

   {% endblock %}