{% extends "base.html" %}
{% block content %}
<h3>Persamaan Garis Lurus</h3>
            <p>Buat lo yang akan mengikuti UN atau tes SBMPTN atau yang masih SMA sekalipun, hal pertama yang akan lo pelajari di matematika <a href="zenius.net">zenius.net</a> ini adalah persamaan garis lurus. Apa aja yang akan lo pelajari di sini? lo bakal definisi dan bentuk umum persamaan garis, memahami konsep gradien, menmbuat garis menggunakan persamaannya dan sebaliknya, dll. Pokoknya seru deh, langsung aja kita liat hal yang akan lo pelajari di bab ini satu persatu.</p>
            <br>
            <h4>Definisi dan bentuk umum persamaan garis</h4>
            <p>Definisi suatu garis, kalo liat di kamus-kamus, adalah simbol geometris untuk merepresentasikan suatu objek yang lurus dan kontinu tanpa memperdulikan lebar atau kedalamannya. Maksud kontinu adalah gak berhenti berhenti. Jadi, yang namanya garis itu sebenernya mulai dari titik negatif tak hingga sampe titk tak hingga. Kalo yang biasa lo liat di diagram kartesius sebenernya adalah segmen garis.</p>
            <p>Bentuk umum persamaan garis ada dua: yaitu persaman garis implisit dan eksplisit. Bentuknya kira-kira kaya gini nih</p>
            <p>Bentuk implisit:</p>
            <div class="row"><div class="col-xs-2">
              $$
              Ax \ + \ By \ = \ C
              $$
            </div></div>
            <p>Bentuk eksplisit:</p>
            <div class="row"><div class="col-xs-2">
              $$
              y \ = \ mx \ + \ C
              $$
            </div></div>
            <h4>Konsep gradien</h4>
            <p>Setiap garis yang berbeda pasti punya ciri khas yang berbeda. Ya iya lah ya, kalo ga gitu berarti garisnya sama. huehuehehe. Tapi kira-kira menurut lo yang menjadi ciri khas setiap garis itu apa aja sih? Ada dua hal nih  yang jadi ciri khas garis: gradien dan titik. Setiap garis harus melewati satu titik unik dan memiliki gradien yang konstan di setiap titiknya untuk menjadi garis yang unik. Kalo ada dua garis dengan gradien yang sama dan melewati satu titik yang sama berbarti dua garis tersebut adalah satu garis yang sama. Lengkapnya. berikut adalah penjelasan tentang gradien.</p>
              <p>Dari persamaan umum garis</p>
              <p class="eq">$$y = mx + c$$</p>
              <br>
              <br>
              <br>
              <p>Dari persamaan di atas, lo tau kan kalo <em>m</em> itu gradien-nya. Tapi sebenernya gradien itu apa sih? Gunanya apa? Oke pertama-tama, definisi dari gradien adalah:</p>
              <p class="eq">$$ m = \frac {Δy}{Δx} $$</p>
              <br>
              <br>
              <br>
              <br>
              <p>Dalam persamaan garis lurus, gradien konstan di setiap titik. Dari definisinya, bisa dilihat bahwa semakin besar gradien-nya semakin miring garis-nya. Semakin kecil gradien-nya juga berarti semakin miring si garis, cuma arahnya kebalik. Di fungsi kuadrat juga sama, tapi gradien berubah-ubah di tiap titik. <br> Jadi gradien itu apa? Intinya, gradien suatu garis menyatakan seberapa miring garis tersebut.</p>
              <p>Penting banget buat lo memehami konsep gradien, karena lo perlu gradien untuk bikin suatu garis. memahami konsep gradien itu juga penting karena dapat membantu lo membaca grafik. Kemampuan ini kepake di setiap disiplin ilmu, kaya di fisika, biologi, ekonomi, dll. Pokoknya penting abis deh.</p>
              <br>
            <h4>Hubungan dari dua garis</h4>
              <p>Sekarang gimana kalo lo disuruh nyari gradien garis tapi gak dikasih tau apa-apa kecuali bahwa garis yang diminta sejajar dengan garis lain? Gampang aja. Lo bisa juga kok nyari gradie garis pake hubungan garisnya dengan garis lain. Hubungan yang bisa dipake diantaranya:
                  <ul>
                    <li>Garis yang sejajar</li>
                    <p>m<sub>1</sub>=m<sub>2</sub></p>
                    <li>Garis yang tegak lurus</li>
                    <p>m <sub>1</sub> . m <sub>2</sub> = -1 </p>
                    <li>Sudut garis dari sumbu x = 0 </li>
                    <p> m = tan θ </p>
                    <li>Turunan persamaannya</li>
                    <p> y = mx + c </p>
                    <p> m = y' </p></ul>
              <p>Jangan lo hapal ya ini, di video ada pembahasannya kok.</p>
            <h4>Memetakan persamaan garis lurus dari/ke Grafik</h4>
              <p>Setelah lo belajar gradien, lo bakal belajar gimana mempraktikkannya dalam grafik. Lo liat lagi persamaan umum garis di atas. Lo kan udah tau gradien (<em>m</em>) itu apaan. Nah sekarang kalo <em>c</em>-nya apaan? Kalo gradien berguna untuk ngeliat kemiringan, si c ini gunanya buat apa? Di bagian ini lo akan nemuin jawabannya. Bukan cuma itu, lo juga akan belajar gimana cara bikin persamaan suatu garis cuma dengan ngeliat grafiknya.</p>
              <br>
            <p>Cukup sekian dulu pendahuluannya, semoga ngasih bayangan dan bikin lo penasaran tentang apa yang akan lo pelajari di bab ini. Sekarang lo simak baik-baik videonya dan kerjain soal-soalnya ya. </p>
 {% endblock %}
