{% extends "base.html" %}
{% block content %}
  <h3>Eksponen dan Fungsi Eksponensial</h3>
  <p>Kalo lo belajar buat SBMPTN atau tes PTN lainnya, eksponen adalah salah satu bab yang paling gampang di mata pelajaran matematika ini. walaupun kedengerannya kaya yang susah banget, sebenernya sederhana saja. Eksponen itu gampangnya adalah pangkat-pangkatan. Di sini lo akan mempelajari definisi eksponen, beberapa sifat eksponen dan pertidaksamaan eksponen.</p>
  <h4>Definisi</h4>
  <p>Pertama-tama, definisi eksponen adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    a^{0} \ = \ 1 \\
    a^{m} \ = \ a*a*a*a...$$
  </div></div>
  <p>dengan jumlah <em>a</em> sebanyak jumlah <em>m</em>, dengan m adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    \left \{ m \ | \ m \ > \ 0, \quad m \ ϵ \ \mathbb{N} \right \}
    $$
  </div></div>
  <p>Kalo <em>m</em> yang negatif gimana? ya sama aja, tapi sekarang a-nya dibawah. Maksudnya jadi</p>
  <div class="row"><div class="col-xs-2">
    $$
    a^{m} \ = \ \frac{1}{a*a*a*a...} \\ $$
  </div></div>
  <p>dengan <em>a</em> sejumlah <em>m</em> juga.</p>
  <br>
  <h4>Sifat-sifat eksponen</h4>
  <p>Walaupun inti perngertiannya gampang, persamaan-persamaan eksponensial mempunyai sifat-sifat tertentu nih. Berikut adalah beberapa sifatnya.</p>
  <ul>
    <li>a<sup>m</sup> X a<sup>n</sup></li>
    <div class="row"><div class="col-xs-2">
      $$ a^{m} \ * \ a^{n} \quad = \quad (a*a*a*a...) \quad * \quad (a*a*a...) \\
      . \qquad \overbrace{\sum a =  m \qquad ∧ \qquad \sum a =  n} \\
      a^{m} \ * \ a^{n} \quad = \quad (a*a*a*a*a*a*a...), \ ⇒ \ \sum a =  m+n \\
       a^{m} \ * \ a^{n} \quad = \quad a^{m+n} $$
    </div></div>
    <li>a<SUP>m</SUP> : a<sup>n</sup></li>
    <div class="row"><div class="col-xs-2">
      $$ \frac{a^{m}}{a^{n}} \quad = \frac{(a*a*a*a...)}{(a*a*a...)} \\
      . \qquad \overbrace{\sum a =  m \qquad ∧ \qquad \sum a =  n} \\
      \frac{a^{m}}{a^{n}} \quad = \quad (a*a...), \ ⇒ \ \sum a =  m-n \\
       \frac{a^{m}}{a^{n}} \quad = \quad a^{m-n} $$
    </div></div>
    <li>a<sup>(1/n)</sup></li>
    <div class="row"><div class="col-xs-2">
      $$
      a^{\frac{1}{n}} \ = \ \sqrt[n]{a} $$
    </div></div>
    <li>(a<sup>m</sup>)<sup>n</sup></li>
    <br>

    <div class="row"><div class="col-xs-2">
      $$
      (a^{m})^{n} = (a^{m}*a^{m}*a^{m}*a^{m}...) \ = a^{m*n} $$
    </div></div>
  </ul>
  <h4>Pertidaksamaan eksponen</h4>
  <p>Misalnya gue punya suatu bilangan bulat positif, dipangkatin oleh bilangan yang berbeda. Ternyata hasilnya</p>
  <div class="row"><div class="col-xs-2">
    $$
    a^{m} \ < \ a^{n}
    $$
  </div></div>
  <p>Maka, bis lo tarik kesimpulan bahwa</p>
  <div class="row"><div class="col-xs-2">
    $$
    m \ < \ n
    $$
  </div></div>
  <p>Itu cuma berlaku untuk bilangan bulat positif. Kalo untuk pecahan antara nol dan satu, berlaku kebalikannya</p>
  <div class="row"><div class="col-xs-2">
    $$
    a^{m} \ < \ a^{n} \\
    m \ > \ n \\
    . \\
    \left \{ a \ | \ 0 \ < \ a \ < \ 1, \quad a \ ϵ \ \mathbb{R} \right \}
    $$
  </div></div>
  <p>By the way, jangan lo apalin doang ya apa yang ada di atas. Gue gak ngasih penjelasan asal-muasalnya tuh untuk beberapa hal. Di videonya ada kok penjelasannya untuk kenapa begini dan kenapa begitu-nya. Konsep eksponen ini penting banget, rugi banget deh lo kalo ngapalin doang. Sekarang, langsung aja deh lo tonton videonya dan kerjain soal-soalnya.</p>
{% endblock %}
