{% extends "base.html" %}
{% block content %}
<h1>Hukum-hukum dasar kimia</h1>
<p>
  Setelah lo paham konsep Ar/Mr dan konsep mol, ada satu hal lagi nih yang perlu lo ketahui dan pegang teguh sebelum lo mulai melakukan reaksi-reaksi kimia; yaitu <strong>Hukum-hukum dasar kimia.</strong>
</p>
<h2>Hukum kekekalan massa Massa Lavoiser</h2>
  <p>
    Hukum pertama yang perlu lo tau adalah hukum kekelan massa Lavoiser. Awal mulanya, Lavoiser melakukan percobaan di mana 530 gram logam merkuri direaksikan dengan 42,4 gram oksigen dan menghasilkan 572,4 Calx merkuri. Dari percobaan itu ia menyimpulkan bahwa di dalam suatu reaksi kimia, <strong>massa zat sebelum dan setelah reaksi adalah sama.</strong> Jadi, massa suatu materi nggak ujug-ujug hilang atau bertambah dalam suatu reaksi. Coba kalo gini, lo mereaksikan 16 gram metana dan 32 gram oksigen. Reaksinya macam begini
  </p>
<div class="row"><div class="col-xs-2">
  CH_{4} \ + \ O_{2} \ \rightarrow \ CO_{2} \ + \ 2H_{2}
</div>
</div>
<p>
  Nah, Awal mula kan ada 48 gram tuh totalnya. Pada akhirnya juga harus ada 48 gram, kalo di contoh kebetulan semua habis bereaksi karena massanya pas. Kira-kira begini reaksinya:
</p>
<div class="row"><div class="col-xs-2">
  $$
  \qquad \qquad \quad CH_{4} \ + \ O_{2} \ \rightarrow \ CO_{2} \ + \ 2H_{2} \\
  (awal) \qquad \quad \qqad \ \ 14 gr \ + \ 32 gr  \qquad  \\
  (reaksi) \qquad \quad \qquad \qquad \qquad \quad \ 44 gr \qquad \ 4gr \\
  (Hasil \ reaksi) \quad  \qquad \quad \qquad \quad \ 44 gr \qquad \ 4gr
  $$
</div>
</div>
<p>
  Seandainya nggak pas pun, massa awal reaksi dan hasil reaksi harus tetep sama. Misalnya kita tambah oksigennya 2 gram. Sekarang pada awal reaksi kan jadi ada 50 gram tuh. Nah, pada hasil reaksi juga bakal tetep ada 50 gram. Cuma kalo begini, oksigen di sebelah kiri arah reaksi bakal nyisa 2 gram. Kira-kira gini reaksinya:
</p>
<div class="row"><div class="col-xs-2">
  $$
  \qquad \qquad \quad CH_{4} \ + \ O_{2} \ \rightarrow \ CO_{2} \ + \ 2H_{2} \\
  (awal) \qquad \quad \qqad \ \ 14 gr \ + \ 34 gr  \qquad  \\
  (reaksi) \qquad \quad \qquad \qquad \qquad \quad \ 44 gr \qquad \ 4gr \\
  (Hasil \ reaksi) \quad  \qquad \quad 2gr \qquad \quad \ 44 gr \qquad \ 4gr
  $$
</div>
</div>
<p>
  Lo liat kan, walaupun ada sisa, tetep di awal dan akhir reaksi jumlah massanya 50 gram. Sekarang pertanyaannya, kenapa kalo di reaksi yang kedua bisa nyisa, kalo di reaksi yang pertama tepat habis? Kalo lo bisa jawab, sip. Kalo nggak, santai aja men di videonya dibahas lengkap.
</p>
<h2>Hukum perbandingan tetap Proust</h2>
  <p>
  Selanjutnya adalah hukum perbandingan tetap Proust. Singkatnya hukum ini berbunyi, "Dalam setiap senyawa, perbandingan massa unsur-unsur selalu tetap". Maksudnya gimana? Nah misalnya lo punya molekul CO<sub>2</sub>, dari rumus molekulnya kan keliatan, di setiap satu mol unsur karbon terdapat 2 mol unsur oksigen.
  </p>
  <div class="row"><div class="col-xs-2">
    $$
  CO_{2} \\
  \frac{mol \ C}{mol \ O} \ = \ \frac{1}{2} \\
  2 \ mol \ C \ = \ 1 \ mol \ O \\
    $$
  </div></div>
  <p>Kita udah tau sebelumnya kalo mol itu sama dengan massa dibagi dengan massa AR</p>
  <div class="row"><div class="col-xs-2">
    $$
  2 \ \frac{massa \ C}{12} \ = \ \frac{massa \ O}{16} \\
  \frac{massa \ C}{massa \ O} \ = \ frac{3}{8}
    $$
  </div></div>
  <p>Nah perbadingan massa C dan O di semua molekul yang ada di dunia, mulai dari kentut sapi sampe CO2 di saturnus pasti akan akan tetep kaya gitu; tiga banding delapan. Gampang kan?</p>
<h2>Hukum perbandingan berlipat Dalton</h2>
  <p>
    Sederhananya, Hukum Dalton berbunyi "Jika dua unsur membentuk lebih dari satu molekul, maka rasio massa unsur kedua yang bereaksi dengan unsur pertama yang bermassa tetap akan berbanding dalam bilangan bulat". Kaya yang ribet ya? padahal gampang aja. Gak penting kok ngapalin kalimatnya gimana. Intinya, misalnya kalo ada 100 gram atom C yang bereaksi dengan 133 gram atom O terus menghasilkan karbon monoksida. Untuk 100 gram karbon juga, berapa gram oksigen yang lo butuhkan untuk mendapatkan karbong dioksida? Ternyata lo butuh 266 gram oksigen. Nah lo liat tuh, untuk 100 gram karbon yang sama, lo butuh 133 gram buat bikin karbon monoksida(karbon monoksida) dan 266 gram untuk bikin karbon dioksida(CO<sub>2</sub>). Perbandingan oksigennya meruapakan bilangan bulat kan. 133:266 atau 1:2. Udah, se-<em>simple</em> itu. Gampang kan?
  </p>
<h2>Hukum perbandingan volume Gay Lusaac dan Avogrado</h2>
  <p>Hukum Gay Lusaac dan Avogrado berbunyi, "Pada P dan T yang tetap, volume gas-gas yang beraksi dan volume gas hasil reaksi akan berbanding sebagai bilang bulat". Misalnya ada gas Nitrogen sejumlah dua liter direaksikan dengan empat liter gas oksigen akan menghasilkan emapt liter gas nitrogen dioksida. Kalo dibandingin volumenya kan 1:2:2. Nah, ternyata eh ternyata, perbadingan ini juga menunjukan perbandingan jumlah partikel dari zat-zat tersebut. Maka dari itu, kita bisa tulis reaksinya sebagai berikut.</p>
  <div class="row"><div class="col-xs-2">
    $$
    N_{2} \ + \ 2 \ O_{2} \quad \rightarrow \quad 2 \ NO_{2}
    $$
  </div></div>
  <p>Oke segitu dulu untuk hukum-hukum dasar kimia, tapi hati-hati men. Walaupun nampaknya gampang, tapi kalo di soal biasa agak <em>tricky</em> nih. Jadi, mendingan lo tonton lagi videonya dan kerjain contoh soalnya di zenius.net. Bye!</p>
{% endblock %}
