{% extends "base.html" %}
{% block content %}
  <h1>Reaksi Redoks: Pengertian dan Bilangan Oksidasi</h1>
  <p>Di bab kali ini lo bakal bejalar tentang reaksi redoks, mulai dari konsep biloks sampe cara gimana menyetarakan reaksi redoks baik menggunakan biloks atau pun dengan metode setengah reaksi. Penting banget nih lo belajar redoks, soalnya buaaanyak banget hal di sekitar lo yang bahkan di detik ini juga sedang mengalami reaksi redoks. Contoh gampangnya, baterai hp atau laptop yang lo pake untuk baca artikel ini. Bukan itu doang, mulai dari besi yang berkarat, pembakaran bahan bakar di roket, sampe kentut lo; semua adalah contoh reaksi redoks. Jadi kalo gitu, bagus banget kan kalo lo ngerti bab redoks ini. </p>
  <h2>Pengertian Reaksi Redoks</h2>
  <p>
    Redoks adalah singkatan dari reduksi dan oksidasi. Reduksi dan oksidasi itu apaan? Kalo di suatu reaksi, suatu zat dikatakan mengalami reduksi kalo dia mengikat atom hidrogen atau melepas oksigen. Kalo oksidasi berarti sebaliknya, mengikat oksigen atau melepas hidrogen. Nah, kalo gitu kkan bingun ngingetnya. Suapaya gampang membedakan reaksi oksidasi dan reduksi, kita biasanya pake jembatan keledai OIL RIG. OIL RIG adalah singkatan dari <strong>Oxidation Is Loss(of electrons), Reduction Is Gain(of electrons)</strong>.
  </p>
  <h2>Bilangan oksidasi</h2>
  <p>
    Untuk mempermudah memahami redoks, dipake lah konsep biloks. Biloks, singkatan dari bilangan oksidasi, adalah bilangan yang bisa menyatakan suatu apakah suatu zat mengalami oksidasi atau reduksi. Kalo ia mengalami oksidasi, maka biloksnya bertambah sedangkan kalo reduksi adalah berkurangnya si biloks zat tersebut. Berikut adalah beberapa aturan untuk bilangan oksidasi atau biloks:
  </p>
  <ol>
    <li>Rule numero uno: molekul bebas</li>
    <p>
      Molekul bebas, kaya H<sub>2</sub>, S<sub>8</sub>, Cl<sub>2</sub>, dan sebagainnya; memiliki bilangan oksidasi sebesar 0.
    </p>
    <li>Rule numero dos: Ion monoatomik</li>
    <p>
      Ion-ion monoatomik memiliki bilangan oksidasi sebesar muatannya. Maksudnya, kalo K<sup>+</sup> berarti biloks-nya +1, kalo Fe<sup>2+</sup> berarti biloksnya +2, kalo Cl<sup>-</sup> berarti biloksnya -1, dan seterusnya.
    </p>
    <li>Rule numero tres: Oksigen</li>
    <p>
      Pada umumnya, oksigen memiliki biloks -2. Kecuali, pada molekul 0<sub>2</sub> biloksnya 0, pada peroksida (H<sub>2</sub>O<sub>2</sub>) biloksnya -1.
    </p>
    <li>Rule numero quatro: Hidrogen</li>
      <p>
        Biloks dari hidrogen adalah +1, kecuali kalo dalam unsur bebas (H<sub>2</sub>). Kalo dalam molekul bebas mah tetep ngikutin rule numero uno ya!
      </p>
  </ol>
  <p>
    Udah segitu doang yang perlu tau tentang aturan biloks, sekarang coba liat contoh soal berikut &mdash; <strong>1) berapa biloks dari Sulfur di SO<sub>4</sub><sup>2-</sup></strong> dan <strong>2) tentukan mana yang mengalami oksidasi dan reduksi dari reaski berikut</strong>:
  </p>
  <div class="row"><div class="col-xs-2">
    $$
    N_{2} \ + \ 3 \ H_{2} \quad \rightarrow \quad 2 \ NH_{3}
    $$
  </div>
  </div>
  <p>
    Oke, yang pertama mah gampang, dari rule numero tres kita tau kalo biloks oksigen sama dengan -2. Nah, karena oksigennya ada empat maka nilai biloksnya dikali empat jadi -8. Terus, dari rule numero dos, kita tau kalo biloks ion itu sama dengan nilai muatannya. Kalo gitu biloks SO<sub>4</sub> adalah -2. O<sub>4</sub> nya doang kan udah -8 tuh, supaya biloks SO<sub>4</sub>-nya bernilai -2, kira-kira berapa biloks sulfur? Iya, biloks sulfur sama dengan +6. Gampang kan?
  </p>
  <p>
    Gimana kalo yang kedua? Gampang juga tuh. Pertama-tama, lo liat biloks rektannya. Keduanya molekul bebas, berarti <em>both</em> N dan H di reaktan biloksnya sama dengan nol. Sekarang gimana pas udah jadi produknya(NH<sub>3</sub>)? Gimana nih? Kita punya aturan untuk hidrogennya tapi gak punya buat nitrogennya. Slow aja, sama kok sama nomer satu. Pertama tentuin dulu biloks NH<sub>3</sub>-nya; dia kan netral, jadi molekul tersebut biloksnya sama dengan nol. Kalo H-nya doang, kan ada tiga tuh, berarti biloksnya +3. Terus N-nya berapa? Ya supaya hasil akhirnya nol, berarti biloks N sama dengan -3. Sekarang lo liat, biloks N, yang awalnya nol, sekarang jadi -3. Biloks H, yang awalnya juga nol, sekarang jadi +3. Kalo gitu, unsur nitrogen lah yang mengalami <strong>reduksi</strong> karena biloksnya berkurang. Sementara hidrogen mengalami <strong>oksidasi</strong>.
  </p>
<br>
<p>Gimana? Gampang kan? Di <strong>UN</strong>, sering banget lho keluar soal beginian. Kalo masih bingung, lo bisa langsung tontonin video Kak Yoki di zenius.net. Di sana, dijelasin juga konsep tentang biloks ini dengan banyak banget contohnya supaya lo lebih paham. Berikutnya, kita akan belajar tentang penyetaraan reaksi redoks.</p>
{% endblock %}
