{% extends "base.html" %}
{% block content %}
<h1>Menyetarakan Reaksi Redoks</h1>
<p>Selanjutnya lo bakal belajar cara menyetarakan reaksi redoks. Sebelumnya, lo udah bisa nyetarain reaksi kimia biasa kan? Nah, nyetarain reaksi redoks itu konsepnya sih mirip aja kaya nyetarain koefisien reaksi kimia biasa; yaitu supaya reaksi kita gak menyalahi hukum-hukum dasar kimia yang ada. Langsung aja ya, metode untuk menyetarakan reaksi redoks ini ada dua yaitu: metode biloks dan metode setengah reaksi. Masing-masing metode juga bisa berbeda tergantung reaksi apakah tersebut bersuasana asam atau basa, dan apakah zat dalam reaksi tersebut berbentuk ion atau molekul. Untuk penyetaraan reaksi redoks yang molekul, cuma bisa dipake metode biloks. Berikut adalah salah satu contoh metode penyetaraan reaksi redoks</p>
<h2>Metode penyetaraan reaksi redoks menggunakan biloks (suasana asam)</h2>
  <p>Langkah-langkah di metode ini adalah sebagai berikut:</p>
  <ol>
    <li>Samakan atom-atom yang mengalami perubahan biloks</li>
    <li>Tentukan perubahan biloks masing-masing atom pusat</li>
    <li>Samakan perubahan biloks dengan memberikan koefisien</li>
    <li>Samakan muatan</li>
      <p>Suasana asam: Tambahkan H<sup>+</sup> pada bagian yang lebih negatif</p>
      <p>Suasana basa: Tambahkan OH<sup>-</sup> pada bagian yang lebih positif</p>
    <li>Samakan atom O dengan menambahkan H<sub>2</sub>O</li>
  </ol>
  <p>Supaya lebih enak, coba liat contoh soal berikut:</p>
  <div class="row"><div class="col-xs-2">
    $$
  Cr_{2}O_{7}^{2-} \ + \ C_{2}O_{4}^{2-} \ \rightarrow \ Cr^{3+} \ + \ CO_{2}
    $$
  </div></div>
  <p>Lo liat deh reaksi tersebut. Gak jelas. Masa jumlah partikel oksigen, kromium, dan karbon kok bisa beda pas awal dan akhir reaksi. Pokoknya gak jelas deh. Maka dari itu, kita perlu setarain reaksi tersebut menggunakan aturan di atas.</p>
    <ol>
      <li>Samakan atom-atom yang mengalami perubahan biloks</li>
      <p>Lo udah bisa tentuin perubahan biloks kan, kalo gitu liat deh. Atom yang mengalami perubahan biloks ada Cr dan C. Supaya sama, atom Cr di kanan kita kasih koefisien dua, begitu juga dengan atom C. <em>So far</em>, begini lah reaksi kita:</p>
      <div class="row"><div class="col-xs-2">
        $$
      Cr_{2}O_{7}^{2-} \ + \ C_{2}O_{4}^{2-} \ \rightarrow \ 2 \ Cr^{3+} \ + \ 2 \ CO_{2}
        $$
      </div></div>
      <li>Tentukan perubahan biloks masing-masing atom pusat</li>
      <p>Sekarang kita itung perubahan biloksnya, tapi inget, karena koefisiennya berubah, biloksnya juga nanti dikali dengan koefisien tersebut ya. Biloks Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup> kan sama dengan -2, sedangkan biloks O sendiri udah -14 (inget: biloks o itu -2, karena ada tujuh oksigennya ya jadi -14), kira-kira berapa biloks Cr<sub>2</sub>? Yoi, biloksnya +12. Kalo Cr di kanan gimana? Gampang aja, sama dengan muatannya, tapi kali dua ya jadi +6. Sekarang  C<sub>2</sub>O<sub>4</sub><sup>2-</sup>, biloks total molekul ini -2, O<sub>4</sub>-nya udah -8. Berarti biloks C<sub>2</sub> di kiri adalah +6. Kalo di CO<sub>2</sub>, totalnya kan 0. biloks C-nya dalah +4. Tapi, karena ada 2, jadi biloks C adalah +8.</p>
      <p>Jadi, sebagai rekap, biloks Cr awalnya +12 tapi akhirnya cuman +6. Berarti perubahan biloks itu sebesar 6. <em>Dude, gak salah? Bukanya perubahannya sebesar -6 ya?</em> Iya, emang sih. Tapi, di perubahan biloks, kita ambil mutlaknya aja. Sekarang, di atom C, berapa perubahannya? Yoi, cuma 2.</p>
      <li>Samakan perubahan biloks dengan memberikan koefisien</li>
      <p>Oke, sekarang kita kali 3 semua molekul yang ada atom C-nya. Kenapa? Supaya perubahan atom C di kiri ke kanan sama kayak perubahan atom Cr yaitu sebanyak 6. Jadi, reaksi kita kaya gini sekarang:</p>
      <div class="row"><div class="col-xs-2">
        $$
      Cr_{2}O_{7}^{2-} \ + \ 3 \ C_{2}O_{4}^{2-} \ \rightarrow \ 2 \ Cr^{3+} \ + \ 6 \ CO_{2}
        $$
      </div></div>
      <li>Samakan muatan</li>
      <p>Sekarang kita itung muatannya dan kita samain. Lo liat deh yang di kiri, Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup> muatannya -2. Begitu juga C<sub>2</sub>O<sub>4</sub><sup>2-</sup>, tapi karena ada 3 biji, maka muatan  C<sub>2</sub>O<sub>4</sub><sup>2-</sup> adalah -6. Jadi, total muatan di kiri adalah -8. Gimana dengan yang di kanan? Muatan Cr<sup>3+</sup> itu kan +3, karena ada 2, berarti ya +6. Kalo CO<sub>2</sub> mah netral ya, gak usah dipikirin.</p>
      <p>Naaaah, karena reaksi ini berada pada <strong>suasana asam</strong>, maka kita perlu nambahain ion H<sup>+</sup> pada bagian yang lebih negatif, berarti kalo di sini, ya bagian yang kiri. Di kiri kan total muatannya -8, berapa H<sup>+</sup> yang perlu lo tambah supaya muatannya sama dengan +6? Yoi, karena masing-masing H<sup>+</sup> bermuatan +1, ya kita perlu 14 biji ion H<sup>+</sup>. Reaksi-nya jadi gini</p>
      <div class="row"><div class="col-xs-2">
        $$
      14 \ H^{+} \ + \  Cr_{2}O_{7}^{2-} \ + \ 3 \ C_{2}O_{4}^{2-} \ \rightarrow \ 2 \ Cr^{3+} \ + \ 6 \ CO_{2}
        $$
      </div></div>
      <li>Samakan atom O</li>
      <p>Terakhir, kita samain jumlah atom O di kedua sisi dengan menambahkan molekul H<sub>2</sub>O di bagian yang oksigennya lebih sedikit. Itung dulu tuh, di kiri ada berapa O? yoi, ada 19. Kalo di kanan? Cuma 12. Kalo gitu kita tambahain 7 H<sub>2</sub>O di kanan, jadi:</p>
      <div class="row"><div class="col-xs-2">
        $$
      14 \ H^{+} \ + \  Cr_{2}O_{7}^{2-} \ + \ 3 \ C_{2}O_{4}^{2-} \ \rightarrow \ 2 \ Cr^{3+} \ + \ 6 \ CO_{2} \ + \ 7 H_{2}O
        $$
      </div></div>

    </ol>
    <p>Jeng-jeng! Dengan demikian, setara lah reaksi kita. Kaya yang ribet yah? Hehe. Kalo lo udah biasa, beginian mah gampang. Keliatannya doang kaya yang susah. Padahal nanti kalo udah biasa, beginian cuma butuh waktu sekitar dua menit. Kalo lo masih bingung, lo tonton aja video-nya Kak Yoki di zenius.net. Begitu juga dengan metode reaksi redoks untuk suasana basa, dan reaksi redoks untuk molekul. Jangan lupa kerjain juga soal-soalnya ya. Kalo itu semua lo lakuin, tes-tes kaya <stron>SBMPTN</stron> atau <strong>Simak-UI</strong> mah lewat!</p>
    {% endblock %}
