{% extends "base.html" %}
{% block content %}
  <h1>Organel sel: Membran sel atau membran plasma</h1>
    <p>
      Setelah lo tau seluk-beluk sejarah sel, selanjutnya lo akan belajar tentang struktur dan fungsi dari membran sel. <em>Membran sel itu kan bukannya cuma ujungnya sel doang? Palingan juga cuma berfungsi sebagai pembatas doang, ngapain gue repot-repot belajar</em>? Heyyo, jangan salah men. Membran sel emang berfungsi sebagai pelindung bagi selnya, tapi bukan cuma itu, membran sel juga punya banyak fungsi lain yang penting bagi keberlangsungan hidup sel tersebut. Selain itu, struktur sel juga kompleks. Jadi, penting buat lo belajar tentang membran sel. Langsung aja ya, berikut yang akan lo pelajari di bab ini.
    </p>
    <h2>Struktur membran sel</h2>
    <figure>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Cell_membrane_detailed_diagram_en.svg/800px-Cell_membrane_detailed_diagram_en.svg.png" alt="" />
  <figcaption>Struktur membran sel</figcaption></figure>
  <br>
  <br>
    <p>
      Membran sel tersusun oleh dua lapis fosfolipid. Bagian kepala dari si fosfolipid ini terbuat dari gliserol yang ditempeli fosfat. Bagian ini sifatnya <strong>hidrofilik</strong>, maksudnya dia adalah molekul polar yang suka air. Di antara kepala-kepala ada molekul yang namanya kolesterol yang berfungsi sebagai penjaga stabilitas sel. Bagian ekornya terssusun oleh asam lemak yang bersifat <strong>hidrofobik</strong>, maksudnya dia adalah molekul non-polar yang takut air. Di membran sel juga ada protein. Kalo proteinnya membentang dari ujung ke ujung membran sel, namanya <strong>protein integral</strong>. Kalo cuma nangkring di pinggiran doang, namanya <strong>protein periferal</strong>. Terus ada juga glukosa yang nempel di membran sel. Kalo nempelnya di bagian fosfolipid, namanya <strong>Glikolipid</strong>. Kalo nempelnya di protein namanya apa coba? <em>Duh!</em> ya <strong> Glikoprotein</strong>.
      Kalo lo bingung apa itu gliserol, asam lemak, dll. Liat lagi rekaman Pras tentang biokimia.
    </p>
    <h2>Fungsi membran sel</h2>
      <ol>
        <li>Melindungi dan melapisi sel</li>
        <p>
          Membran sel ini, keliatan juga di gambar sih, melapisi sekeliling sel dan juga <em>physically</em> membatasi isi sel dan lingkungan luar.
        </p>
        <li>Tempat terjadinya transportasi molekul</li>
        <p>
          Membran sel ini sifatnya <strong>selektif permeable</strong>. Artinya, gak asal molekul bisa keluar masuk sel. Nah, membran sel ini yang bertanggung-jawab akan molekul apa aja yang bisa masuk. Molekul-molekul bisa masuk atau keluar sel tanpa menggunakan energi. Proses ini dinamakan <strong>transpor pasif</strong>. Contoh dari transpor pasif adalah <strong>Difusi</strong> dan <strong>Osmosis</strong>. Dan, ada juga yang perlu energi, namanya <strong>transpor aktif</strong>, contohnya kaya <strong>pinositosis</strong>, dan <strong>fagositosis</strong>. Ini jangan lo apal ya, bego ntar. Ada kok penjelasannya di rekamannya Pras di biologi kelas sebelas SMA.
        </p>
        <li>Memberi sinyal</li>
        <p>
          Membran sel sel juga berfungsi sebagai pemberi sinyal supaya si sel bisa ngabarin <em>messenger</em> dan <em>messenger</em> tersebut ngirimin molekul-molekul yang dibutuhin si sel itu.
        </p>
      </ol>
      <br>
      <p>
        Nah, udah kebayang kan membran sel kaya apa dan kenapa belajar tentang membran sel itu penting? Langsung aja deh lo pantengin video di zenius.net. Jangan lupa kerjain juga soal-soalnya ya!
      </p>
