{% extends "base.html" %}
{% block content %}
  <h3>Kinematika</h3>
  <p>Buat lo yang mau belajar fisika untuk mengikuti tes-tes masuk perguruan tinggi kaya SBMPTN, SIMAK, dll, enaknya lo mulai dari bab kinematika ini nih. Soalnya, kinematika bisa dibilang sebagai dasar untuk belajar fisika. Kalo lo mau masuk jurusan teknik atau jurusan-jurusan di MIPA. Pokoknya penting banget deh. Jadi, pahami baik-baik ya konsep konsep kinematika ini.</p>
  <br>
  <h4>Definisi</h4>
  <p>Sebenernya kinematika sendiri itu apa sih? Kinematika adalah salah satu cabang ilmu mekanika yang menjelaskan gerak benda <strong>tanpa</strong> memperdulikan penyebabnya. Sedangkan kerabatnya, yaitu dinamika, menjelaskan hubungan gerak dengan si penyebab gerak. Jadi, dalam kinematika ini, kalo ada benda yang bergerak, kita gak akan peduli apa yang menyebabkan benda itu bergerak, kita hanya akan menganalisa gerak si benda itu.</p>
  <p>Sebelum masuk ke materi kinematika, ada satu konsep yang harus lo inget. Konsep yang dimaksud adalah konsep jenis besaran. Besaran -- seperti gaya, berat, tinggi, dll. -- adalah properti fisik dari sesuatu yang bisa kita hitung. Jenis besaran ada dua: besaran vektor dan skalar. Besaran skalar adalah besaran yang hanya kita hitung besarnya, misalnya tinggi, berat, dll. Sedangkan besaran vektor adalah besaran yang bukan hanya kita hitung besarnya, tapi juga kita hitung arahnya. Contoh dari besaran vektor adalah gaya dorong, muatan listrik, dll.</p>
  <p>Sekarang baru deh kita masuk ke materi kinematika. Berikut adalah beberapa hal yang akan lo pelajari di bab ini.</p>
  <br>
  <h4>Jarak dan perpindahan</h4>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Distancedisplacement.svg/323px-Distancedisplacement.svg.png" alt="d">
  <p>Jarak, gampangnya, adalah besaran yang mengukur seberapa jauh jalan yang lo lalui. Jarak adalah salah satu besaran skalar. Sedangkan perpindahan adalah selisih posisi akhir perjalanan lo dan posisi awalnya. Makanya, perpindahan termasuk besaran vektor. Kalo dari gambar di atas misalnya, jalan yang lo lalui ditandakan oleh panah berwarna biru. Nah, besar dari anak panah biru ini lah yang disebut jarak. Sedangkan panah hijau adalah perpindahannya. Lo liat kan, dia narik garis lurus dari posisi awal ke posisi akhir doang. Kalo lo mau ngitung berapa perpindahannya, lo harus itung panjang si garis ijo ini <strong>dan</strong> arahnya juga. Kalo dalam hal ini, berarti arahnya ke kanan bawah.</p>
  <p>Udah deh, kira-kira segitu doang tentang jarak. Gampang kan? </p>
  <h4>Kelajuan dan kecepatan</h4>
  <p>Sekarang, kalo menghitung waktu ketika dalam suatu perjalanan, datang lah konsep kecepatan dan kelajuan. Intinya gampang aja, misalnya lo mau pergi sejauh 1 km ke sekolah lo. Lo berangkat jam tujuh dan nyampe jam delapan. Berarti, lo perlu waktu satu jam untuk jalan kaki sejauh satu kilo. Nah, berapa lama kaki lo melaju? Yaaaa, kalo satu kilo, satu jam. Bisa dibilang juga bahwa laju lo dari rumah ke sekolah adalah satu kilometer per jam. Itu lah contoh pengertian laju. Secara matematis, definisi laju adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    v \ = \ \frac{Δd}{Δt}
    $$
  </div></div>
  <p>v adalah laju <br>Δd adalah beda jarak <br>Δt adalah beda waktu</p>
  <p>Lo liat di situ, karena laju adalah beda jarak dibagi beda waktu, laju adalah besaran skalar. Ada juga nih yang mirip laju tapi termasuk besaran vektor; yaitu kecepatan. Kalo kecepatan, definisinya adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    v \ = \ \frac{Δ\vec{d}}{Δt}
    $$
  </div></div>
  <p>Dengan ⃗d adalah perpindahan.</p>
  <p>Kalo dalam kecepatan, karena dia make perpindahan, makanya dia adalah besaran vektor.</p>
  <h4>Percepatan</h4>
  <p>Si laju ini bisa juga nih kita bandingin terhadap waktu. Hasilnya adalah percepatan. Sebagaimana laju adalah perbandingan jarak dan waktu. Percepatan adalah perbandingan kecepatan dan waktu. Percepatan, dinotasikan dengan <em>a</em>, secara matematis adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    a \ = \ \frac{Δv}{Δx}
    $$
  </div></div>
  <p>Udahan ah, segini dulu aja deh pendahuluannya. Untuk konsep gerak, akan dibahas di note selanjutnya.</p>
{% endblock %}
