{% extends "base.html" %}
{% block content %}
  <h3>Kinematika: Gerak</h3>
  <p>Konsep selanjutnya yang akan lo pelajari adalah konsep gerak, mulai dari gerak lurus beraturan,  gerak lurus berubah beraturan, gerak jatuh bebas, sampe gerak parabola. Coba kita bahas aja ya satu-satu.</p>
  <h4>Gerak lurus beraturan</h4>
  <p>Salah satu gerak yang paling sederhana adalah gerak lurus beraturan dimana perubahan jaraknya sama di setiap selang waktu yang sama. Ini juga berarti bahwa gerak lurus beraturan ini, laju dan kecepatannya konstan. Grafik untuk gerak lurus beraturan ini kira-kira begini </p>
  <img src="https://upload.wikimedia.org/wikiversity/en/4/4c/UniformMotion.gif" alt="2">
  <p>Nampak <em>familiar</em>? Yoi men, ini grafik garis lurus. Kalo di persamaan garis lurus kita make sumbu x dan sumbu, dan gradiennya, yang kita notasikan dengan <em>m</em>, adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    m \ = \ \frac{Δy}{Δx}
    $$
  </div></div>
  <p>Di grafik itu, sumbu x-nya kita ganti dengan sumbu <em>Δt</em> dan sumbu y-nya diganti dengan sumbu <em>Δd</em>. Berarti sekarang, gradien grafik ini apa? Yup, gradiennya adalah <em>v</em> atau lajunya. Mengingat definisi laju adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    v \ = \ \frac{Δ\vec{d}}{Δt}
    $$
  </div></div>
  <h4>Gerak lurus berubah beraturan</h4>
  <p>Gerak yang masih termasuk gerak-gerak sederhana, tapi lebih rumit daripada gerak lurus beraturan adalah gerak lurus berubah beraturan. Dalam GLBB (gerak lurus berubah beraturan) ini, laju atau kecepatannya bertambah secara konstan. Dengan kata lain, percepatannya konstan. Jika pada grafik di atas, kecepatan atau laju adalah gradiennya, di sini, karena kecepatan atau lajunya bertambah secara konstan, maka grafik akan menjadi grafik dari fungsi kuadrat kalo grafiknya diinyatakan dalam jarak terhadap waktu. Kalo dinyatakan dalam kecepatan terhadap waktu mah, berarti grafiknya sama juga grafik garis lurus.</p>
  <img src="https://upload.wikimedia.org/wikiversity/en/5/5f/Accelerated2.gif" alt="3">
  <p>Salah satu contoh gerak lurus berubah beraturan adalah gerak jatuh bebas, dimana percepatannya adalah gravitasi.</p>
  <h4>Gerak parabola</h4>
  <p>Nah, ini yang seru. Gerak parabola ini adalah gabungan dari gerak lurus beraturan dan gerak lurus berubah beraturan. Kok bisa? Gue udah ingatkan sebelumnya, kalo kecepatan adalah besaran vektor. Yang namanya besaran vektor, pasti bisa kita bagi mereka menjadi komponen-komponennya. Untuk kecepatan gerak parabola ini, kita bagi jadi dua komponen yang berbeda: yaitu kecepatan vertikal dan kecepatan horizontal. Kalo di kecepatan horizontalnya, ia bergerak secara lurus beraturan. Gak ada percepatannya. Sebaliknya, kalo di kecepatan vertikalnya, dia berubah beraturan karena ada percepatan yaitu gravitasi.</p>
  <p><em>Bro, gue udah baca note lo ini tapi kok gak bisa ngerjain soal</em></p>
  <p>Yaiyalah, ini cuma buat pendahuluan men. Kalo mau penjelasan detilnya, atau belajar contoh soalnya, Langsung aja lo pantengin fisika di zenius.net!</p>
{% endblock %}
