{% extends "base.html" %}
{% block content %}
  <h3>Dinamika II: Momentum dan Impuls</h3>
  <p>Konsep fisika selanjutnya yang akan lo pelajari selanjutnya adalah momentum dan impuls. Konsep momentum dan impuls ini mirip-mirip dengan konsep usaha dan energi. Dimana impuls itu analog dengan usaha, dan  momentum analog dengan energi.</p>
  <h4>Momentum</h4>
  <p>Di fisika, momentum adalah hasil kali massa suatu benda dan kecepatannya. Misalnya, sebuah truk berat yang bergerak cepat memiliki momentum yang besar. Jika truk yang lebih ringan, atau bergerak lebih lambat, maka akan memiliki momentum kecil. Tapi... Kalo pengertian yang begini kan agak bingung. Sederhananya, momentum sebuah benda bisa dibilang sebagai seberapa gak enaknya kita ketabrak sama benda tersebut. Maksudnya, kalo ada benda yang momentumnya gede, maka semakin gak enak lah elo kalo ketabrak sama benda tersebut. Semakin kecil, semakin enak. hehe.</p>
  <p>Momentum ini merupakan besaran vektor yang arahnya sama dengan arah kecepatannya. Kalo ditulis secara matematis, momentum adalah</p>
  <div class="row"><div class="col-xs-2">
    $$
    p \ = \ m \ \overline{v}
    $$
  </div></div>
  <h4>Impuls</h4>
  <p>Bayangin ada bola <em>baseball</em> yang memiliki massa dilempar dengan kecepatan tertentu. Sedangkan, lo berperan sebagai pemukul bola itu. Gimana caranya supaya bola yang akan lo pukul mental sejauh-jauhnya? Pukul sekeras-kerasnya? Iya sih bener, tapi apa cuma itu doang? Ternyata nggak men. Supaya bolanya mental jauh, lo mesti tau konsep impuls. Kenapa? Oleh karena, semakin gede impulsnya, semakin jauh bola itu akan mental. <em>Kok bisa? Impuls itu apaan sih emangnya?</em>. Impuls adalah hasil kali gaya dengan waktu kontak si gaya tersebut. Kalo secara matematis, ditulis</p>
  <div class="row"><div class="col-xs-2">
    $$
    I \ = \ F \ Δt
    $$
  </div></div>
  <p>Nah, kalo dalam kasus bola <em>baseball</em> ini, selain lo harus mukul sekenceng-kencengnya, lo juga mempertahankan kontak antara tongkat kasti lo dengan bolanya selama mungkin. Lo liat deh, pemukul <em>baseball</em> internasional kalo mukul bola, pasti tongkatnya dimajuin ketika mukul supaya kontaknya lama. Gak pernah langsung dilepas itu tongkat setelah mukul.</p>
  <p>Selain itu, impuls juga bisa disebut sebagai perubaha momentum. Perhatiin, bola kasti yang awalnya momentumnya segitu, setelah dipukul, pasti berubah. Walaupun massa-nya sama, setelah dipukul arahnya pasti beda kan.</p>
  <div class="row"><div class="col-xs-2">
    $$
    I \ = \ Δp
    $$
  </div></div>
  <p>nah, segini dulu deh. Di videonya dijelasin detilnya. Di sana juga dijelasin konsep tumbukan, dan koneksi antara momentum, impuls, usaha, energi, dan kinematika. Lo juga akan banyak latihan soal. Jadi tunggu apa lagi? Tonton aja videonya dan kerjain soal-soalnya sekarang!</p>
{% endblock %}
