{% extends "base.html" %}
{% block content %}
  <h3>Gerak Melingkar</h3>
  <p>Selanjutnya kita bahas gerak melingkar di fisika SBMPTN ini. Gerak melingkar ini praktiknya bisa macem-macem. Mulai gerak bandul yang diiket tali dan diputer, sampe ke gerak planet-planet. Keunikan gerak melingkar adalah, walaupun lajunya konstan, dia pasti punya percepatan karena arah kecepatannya selalu berubah meskipun besarnya sama.</p>
  <br>
  <h4>Frekuensi dan periode</h4>
  <p>Bedanya dengan gerak linier, di sini lo bakal dikenali dengan variable baru yaitu frekuensi dan periode. Frekuensi didefinisikan sebagai berapa putaran benda setiap detiknya. Satuan dari frekuensi ini adalah hertz. Jadi, misalnya ada benda yang bergerak melingkar sebanyak sepuluh kali dalam dua detik, maka frekuensinya adalah lima hertz. Nah, kalo periode mah kebalikannya. Periode adalah berapa detik yang diperluka setiap putarannya. Kalo make contoh di atas maka periodenya adalah eperlima detik.</p>
  <br>
  <h4>Analogi konsep gerak linier dan angular</h4>
  <p>Nah, kalo di gerak linier kita punya perpindahan, kecepatan, dan percepatan. Di gerak melingkar kita juga punya yang kaya gitu tuh. Cuma, karena dalam gerak melingkar orientasi geraknya adalah sudut. Maka yang kita punya adalah perpindahan, kecepatan, dan percepatan sudut. Namun, konsepnya mirip kok</p>
  <p>Kecepatan sudut, secara matematis ditulis</p>
  <div class="row"><div class="col-xs-2">
    $$
    ω \ = \ \frac{Δθ}{Δt}
    $$
  </div></div>
  <p>Kalo percepatan sudut gimana? ya sama aja dengan percepatan biasa, tapi kecepatannya make kecepatan sudut</p>
  <div class="row"><div class="col-xs-2">
    $$
    α \ = \ \frac{Δω}{Δt}
    $$
  </div></div>
  <p>Nah, itu kan kecepatan dan percepatan sudutnya tuh. Kalo lo muterin bandul sampe cepet banget, tapi lo mau tau kecepatan gerak bandulnya aja, bukan kecepatan sudutnya, bisa gak? Bisa aja. Itu bisa kita dapet dari keliling lingkaran yang nilainya</p>
  <div class="row"><div class="col-xs-2">
    ○ \ = \ 2π*r
  </div></div>
  <p>Nanti, bisa diturunin deh perpindahan, kecepatan, dan percepatannya</p>
  <div class="row"><div class="col-xs-2">
    $$
     Δs\, = Δθ \ r
      v\, = \frac {2 \pi r } {T} = \omega r \\
     a\, = \frac {v^2} {r} \, = {\omega^2} {r}
    $$
  </div></div>
  <p>Eits, ini jangan diapalin. Lo tonton aja video ke-empat sampe video ke-tujuh di bab ini. Di situ dijelasin kok kenapa gini. Untuk gaya sentripetal, gaya sentrifugal, dan momentum angular, akan dijelaskan di note selanjutnya.</p>
{% endblock %}
