{% extends "base.html" %}
{% block content %}
  <h3>Gravitasi</h3>
  <p>Dari pengalaman seluruh umat manusia yang pernah ada, semua hal nampaknya selalu jatuh ke bumi. Bahkan, jatuhnya benda-benda tersebut akan jatuh lebih dalam lagi ke perut bumi jika keadaannya memungkinkan. Misalnya air hujan, sesudah jatuh ke permukaan bumi, mereka selalu mencari tempat yang lebih rendah. Kalo ada selokan atau gorong-gorong di sekitar tempat jatuhnya air hujan, mereka pasti turun ke selokan.</p>
  <p>Pertanyaannya, kenapa begitu? Kenapa harus turun ke bawah? Kenapa gak naek ke atas aja? Orang-orang biasanya cuma memaklumi aja kejadian ini tanpa berusaha keras untuk menjawabnya secara ilmiah. <em>Wong, udah gitu dari sananya kok</em>. Mungkin seperti itu lah respon orang-orang. Bahkan, Aristoteles bilang bahwa sudah hakikatnya untuk benda-benda untuk jatuh ke bawah, menuju pusat semesta — ketika itu, bumi dianggap pusat alam semesta. Selain keliru bahwa bumi adalah pusat alam semesta, pernyataan Aristoteles ini juga masih penuh pertanyaan. Apa yang dia maksud dengan hakikatnya? Bagaimana sih prosesnya? dll. Sepertinya Aristoteles gak memjelaskan pertanyaan-pertanyaan itu.<br>
  Jadi gimana dong? Lagi-lagi, Sir James Isaac Newton datang untuk membantu.</p>
  <h4>Hukum Gravitasi Newton</h4>
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/GodfreyKneller-IsaacNewton-1689.jpg" alt="">
  <p>Ceritanya, pada tahun 1666, ada seorang pemuda menganggur di sebuah pedesaan kecil di inggris akibat telah setahun mudik terpaksa karena melandanya wabah di kota. Pengangguran tersebut adalah Newton. Dalam masa menganggurnya, ia memperhatikan sebuah apel jatuh dari pohonnya. Lalu setelah obesrvasi, ia berkesimpulan bahwa gaya yang membuat apel itu jatuh terjadi pada setiap dua benda bermasa. Di mana, gaya tersebut berbanding lurus dengan masa benda-benda itu, dan berbanding terbalik dengan kuadrat jarak antara pusat masa kedua benda tersebut. </p>
  <div class="row"><div class="col-xs-2">
    $$
      F \ ≈ \ m \\
      F \ ≈ \ \frac{1}{r^{2}}
    $$
  </div></div>
  <p>Bentuknya belum mirip sama rumus gravitasi yang kita kenal sekarang. Baru setelah tujuh puluh satu tahun setelah wafatnnya newton, Cavendish dan rekan-rekannya melakukan eksperimen, dan dari eksperimen tersebut mereka menemukan konstanta gravitasi yang nilainya:</p>
  <div class="row"><div class="col-xs-2">
    $$
     G \approx 6.674 \times 10^{-11} {\rm \ N \ (m/kg)^2}
    $$
  </div></div>
  <p>Nah, berkat mereka lah kita dapet bentuk hukum gravitasi yang sekarang kita kenal</p>
  <div class="row"><div class="col-xs-2">
    $$
    F =  G\frac{m_1 m_2}{r^2}\
    $$
  </div></div>
  <p>Menarik kan konsep gravitasi? Udah tertarik belom buat nontonin video gravitasi di zenius.net? Udah, tonton aja videonya sekarang suapaya lo makin paham konsepnya dan bisa ngerjain soalnya. <em>By the way</em>, konsep gravitasi gak berhenti di sini ya? Nanti kita bakal bahas lagi gravitasi dengan konsep yang dikembangi oleh Raksasa Fisika lainnya. <em>Stay tune, y'all!</em></p>
{% endblock %}
