{% extends "base.html" %}
{% block content %}
  <h3>Pemantapan Konsep Grafik</h3>
    <p>Halo, kali ini kita bakal nge-mantepin konsep-konsep grafik yang udah kita pelajari sebelumnya. Kan kita udah ngereview konsep grafik juga nih di note sebelumnya. Nah, kalo di sini, bedanya lebih advanced men. Selain ngebawa konsep-konsep sebelumnya to a whole new level, di sini juga bakal ngebahas konsep-konsep baru kaya konsep grafik polinom, lingkaran, turunan, dan banyak lagi. Langsung aja yak kita bahas satu-satu apa yang akan kita mantepin di sini.</p>
    <h4>Konsep Grafik Linear</h4>
      <p>Bentuk umum fungsi Linier itu kan gini:</p>
        <div class="row"><div class="col-xs-2">
          $$y \ = \ mx \ + \ c$$
        </div></div>
      <p>Hal yang akan lo review di sini adalah:</p>
      <ul>
          <li>Pengaruh koefisien terhadap grafik</li>
          <p>Lo liat di bentuk umum fungsi linier, di situ ada koefisien c kan. Guna dari koefisien c ini adalah sebagai penentu letak si garis secara vertikal. Misalnya, kalo c-nya semakin gede maka letak si garis juga semakin ke atas.</p>
          <li>Dua hal penting untuk membuat garis atau persamaan garis</li>
          <p>Dalam membuat garis lurus atau persamaan garis lurus, lo butuh gradien dan titik. Misal dikasih tau ada garis yang melewati titik (2,5), terus lo diminta fungsi garisnya. Apa yang lo lakuin? Gak ada, men. Karena ada buaanyak banget garis yang melewati titik itu. Makanya lo butuh gradien. Begitu juga kalo lo punya gradiennya, lo tetep butuh titik untuk tahu persamaan garisnya. Karena ada buaanyak banget juga garis yang bergradien sama. Jadi inget, dalam bikin garis atau fungsi garis lo BUTUH gradien dan titik.</p>
          <li>Mencari gradien</li>
          <p>Ada beberapa cara nyari gradien, diantaranya:</p>
            <ul>
                <li>Bandingin dua titik</li>
                <p>Kalo lo punya dua titik mah tinggal bandingin aja, dapet gradiennya</p>
                <div class="row"><div class="col-xs-2">
                  $$m \ = \ \frac{Δy}{Δx}$$
                </div></div>
                <li>Hubungan dengan garis lain</li>
                <p>Kalo ada garis yang sejajar</p>
                <div class="row"><div class="col-xs-2">
                  $$ m_{1} \ = \ m_{2}   $$
                </div></div>
                <p>Kalo tegak lurus dengan garis yang lain</p>
                <div class="row"><div class="col-xs-2">
                  $$ m_{1} . m_{2} \ = \ -1 $$
                </div></div>
                <li>Sudut terhadap sumbu x</li>
                <p>Kalo lo tau sudut antara garis lo dan sumbu x, lo juga bisa tau gradiennya dengan cara</p>
                <div class="row"><div class="col-xs-2">
                  $$m = tan θ $$
                </div></div>
                <li>Turunan</li>
                <p>Pake turunan juga bisa, jadi</p>
                <div class="row"><div class="col-xs-2">
                  $$m = F'(x)$$
                </div></div></ul></ul>
    <h4>Fungsi Kuadrat</h4>
      <p>Bentuk umum fungsi kuadrat</p>
      <div class="row"><div class="col-xs-2">
        $$y = ax^{2} + bx + c$$
      </div></div>
       <p>Hal hal yang perlu diinget dari fugsi kuadrat:</p>
       <ul>
         <li>Pengaruh koefisien terhadap grafik</li>
         <p>Di bentuk umum di atas lo liat dong ada koefisien a, b , dan c. Pengaruh mereka adalah:</p>
           <ul>
             <li>Koefiesien a berpengaruh terhadap kuncup atau enggaknya si kurva kuadrat, nilai positif-negatif dari koefisien a juga berpengaruh terhadap terbuka ke atas atau ke bawah-nya suatu kurva</li>
             <li>Koefisien c berpengaruh terhadap letak si kurva relatif ke sumbu x, semakin gede si c semakin tinggi letak si kurva</li>
             <li>koefisien b ngaruhnya sama titik simetri/puncak, kalo a.b > 0 maka titik puncaknya ada di kiri sumbu y. Otherwise, berada di kanan sumbu y.</li>
           </ul>
         <li>Titik puncak</li>
           <p>Mencari titik simetri suatu kurva, rumusnya:</p>
           <div class="row"><div class="col-xs-2">
             $$ x_{s} \ = \ \frac{-b}{2a} $$
           </div></div>
           <p>Titik puncaknya gimana? ya tinggal lo masukin aja titik simetri ke fungsinya</p>
           <div class="row"><div class="col-xs-2">
             $$F(x) = ax^{2} + bx + c \\
               x_{s} \ = \ \frac{-b}{2a} \\
               y_{p} = F (xs) = a\frac{-b}{2a}^{2} + b\frac{-b}{2a} + c $$
           </div></div>
           <p>Untuk nyari titik puncak bisa juga sih dengan cara</p>
           <div class="row"><div class="col-xs-2">
             $$y_{p} = \frac{-D}{4a}$$
           </div></div>
         <li>Fungsi kuadrat dengan akar-akar</li>
         <p>Lo inget kan akar-akar dari fungsi itu berarti titik dimana di kurva berpotongan dengan sumbu x. Kalo cuma pake akar-akar doang lo nggak lo gak bisa nentuin fungsi kuadratnya, karena ada banyak kurva yang berpotongan di sumbu x itu. Makanya lo butuh a. Kalo ada a-nya, baru deh bisa dibikin fungsinya dengan cara:</p>
         <div class="row"><div class="col-xs-2">
           $$y = a (x - x_{1})(x-x_{2})$$
         </div></div>
         <li>Menggeser fungsi kuadrat</li>
         <p>Misal ada fungsi kuadrat yang puncaknya di (0,0) terus mau lo geser sejauh (xp,yp), kumaha carana? Gini caranya:</p>
          <div class="row"><div class="col-xs-2">
            $$y = ax^{2} \ \rightarrow \ \binom{xp}{yp} \Rightarrow \ y-yp = a \ (x-xp)^{2}$$
          </div></div>
          </ul>
        <h4>Grafik lingkaran</h4>
          <p>Secara definisi, lingkaran adalah himpunan semua titik yang berjarak sama dengan titik pusat. Jaraknya yang sama ini lah yang disebut jari-jari(r). Jadi, bentuk umum lingkaran adalah:</p>
          <div class="row"><div class="col-xs-2">
            $$(Δx)^{2} + (Δy)^{2} = r^{2} \\
              (x-x_{p})^{2} + (y-y_{p})^{2} = r^{2}$$
          </div></div>
          <p>Dengan x<sub>p</sub> dan y<sub>p</sub> adalah titik x dan titik y pusat</p>
        <h4>Teori diskriminan</h4>
          <p>Kalo di persamaan kuadrat, diskriminan itu berkerja sebagai pembeda akar kan. Misalnya kalo diskriminannya lebih dari nol, berarti akar akarnya beda. Nah, sekarang apa bedanya dengan diskriminan fungsi kuadrat? </p>
            <UL>
              <li>D > 0</li>
                <p>kalo diskriminannya lebih dari nol, maka kurva dari si fungsi kuadrat berpotongan di dua titik di sumbu x.</p>
              <li>D = 0</li>
                <p>kalo diskriminan sama dengan nol, maka kurvanya bersinggunan dengan sumbu x. Maksudnya, bersentuhan di satu titik</p>
              <li>D < 0 </li>
                <p>kalo kurang dari nol, berarti kurvanya gak nyentuh sumbu x sama sekali. Dengan kata lain, maka mengambang lah kurva lo.</p>
            </UL>
          <p>Sekarang gimana kalo berpotongannya bukan dengan sumbu x, tapi dengan garis lurus lain yang ada gradiennya. Intinya sih sama aja dengan yang berpotongan di sumbu x, tapi di sini diskriminannya beda. Bukannya begini</p>
          <div class="row"><div class="col-xs-2">
            $$D = b^{2} \ - \ 4ac$$
          </div></div>
          <p>tapi</p>
          <div class="row"><div class="col-xs-2">
            $$D = (b-m)^{2} \ - \ 4a(c-n)$$
          </div></div>
          <p>Kenapa kaya gini? Penjelasannya ada kok di video-nya.</p>
          <p>Sama juga kalo ada garis yang berpotongan dengan lingkaran. Dari bentuk umu lingkaran yang</p>
          <div class="row"><div class="col-xs-2">
          $$ (x-x_{p})^{2} + (y-y_{p})^{2} = r^{2}$$
      </div></div>
          <p>Diubah dikit, karena di sini berpotongan dengan garis.</p>
          <div class="row"><div class="col-xs-2">
            $$ y = mx + c $$
          </div></div>
          <p>Jadi</p>
          <div class="row"><div class="col-xs-2">
            $$ x^{2} + m^{2} x^{2} + 2 m c x + c^{2} = r^{2} $$
          </div></div>
          <p>Lagi-lagi, jangan lo apal ya. Ada penjelasannya di videonya kenapa begini.</p>
      <h4> Grafik fungsi polinom</h4>
        <h5>Turunan, sebuah pendahuluan</h5>
        <p>Lo inget kan kalo di fungsi linier, turunan dari fungsi itu merupakan gradien. Nah di fungsi kuadrat dan pangkat lebih tinggi lainnya juga sama sih, tapi gradiennya bukan cuma angka. Misal, ada fungsi kuadrat</p>
        <div class="row"><div class="col-xs-2">
          $$ F(x) = x^{2} + 4x + 9 $$
        </div></div>
        <p>Turunannya kan</p>
        <div class="row"><div class="col-xs-2">
          $$ F'(x) = 2x + 4 $$
        </div></div>
        <p>Kenapa gradien ini ada variabelnya? karena di setiap titik x yang berbeda kemiringannya beda. makanya bentuk kurva itu gak lurus. Lo liat kan nilai dari F'(x) kan bisa positif atau negatif, tergantung dari nilai x-nya. Kalo F'(x) lebih dari nol, Maka grafik fungsinya naik. Kalo kurang dari nol, maka grafiknya turun.</p>
        <p>Nah kalo di fungsi kuadrat kan nilainya positif semua, kalo di polinom gak pasti gitu. Karena di polinom pangkatnya gak pasti genap kaya di fungsi kuadrat. Coba aja (-2) lo pangkatin 3, hasilnya negatif kan. Maka dari itu, grafiknya juga bakal beda. Kaya gimana grafiknya? Mendingan langsung aja cek video-nya, di situ dijelasin dengan lengkap.</p>

{% endblock %}
