{% extends "base.html" %}
{% block content %}
  <h3>Pemantapan Konsep Grafik</h3>
    <p>Halo, kali ini kita bakal nge-mantepin konsep-konsep grafik yang udah kita pelajari sebelumnya. Kan kita udah ngereview konsep grafik juga nih di note sebelumnya. Nah, kalo di sini, bedanya lebih advanced men. Selain ngebawa konsep-konsep sebelumnya to a whole new level, di sini juga bakal ngebahas konsep-konsep baru kaya konsep grafik polinom, lingkaran, turunan, dan banyak lagi. Langsung aja yak kita bahas satu-satu apa yang akan kita mantepin di sini.</p>
    <h4>Konsep Grafik Linear</h4>
      <p>Bentuk umum fungsi Linier itu kan gini:</p>
        <div class="row"><div class="col-xs-2">
          $$y \ = \ mx \ + \ c$$
        </div></div>
      <p>Hal yang akan lo review di sini adalah:</p>
      <ul>
          <li>Pengaruh koefisien terhadap grafik</li>
          <p>Lo liat di bentuk umum fungsi linier, di situ ada koefisien c kan. Guna dari koefisien c ini adalah sebagai penentu letak si garis secara vertikal. Misalnya, kalo c-nya semakin gede maka letak si garis juga semakin ke atas.</p>
          <li>Dua hal penting untuk membuat garis atau persamaan garis</li>
          <p>Dalam membuat garis lurus atau persamaan garis lurus, lo butuh gradien dan titik. Misal dikasih tau ada garis yang melewati titik (2,5), terus lo diminta fungsi garisnya. Apa yang lo lakuin? Gak ada, men. Karena ada buaanyak banget garis yang melewati titik itu. Makanya lo butuh gradien. Begitu juga kalo lo punya gradiennya, lo tetep butuh titik untuk tahu persamaan garisnya. Karena ada buaanyak banget juga garis yang bergradien sama. Jadi inget, dalam bikin garis atau fungsi garis lo BUTUH gradien dan titik.</p>
          <li>Mencari gradien</li>
          <p>Ada beberapa cara nyari gradien, diantaranya:</p>
            <ul>
                <li>Bandingin dua titik</li>
                <p>Kalo lo punya dua titik mah tinggal bandingin aja, dapet gradiennya</p>
                <div class="row"><div class="col-xs-2">
                  $$m \ = \ \frac{Δy}{Δx}$$
                </div></div>
                <li>Hubungan dengan garis lain</li>
                <p>Kalo ada garis yang sejajar</p>
                <div class="row"><div class="col-xs-2">
                  $$ m_{1} \ = \ m_{2}   $$
                </div></div>
                <p>Kalo tegak lurus dengan garis yang lain</p>
                <div class="row"><div class="col-xs-2">
                  $$ m_{1} . m_{2} \ = \ -1 $$
                </div></div>
                <li>Sudut terhadap sumbu x</li>
                <p>Kalo lo tau sudut antara garis lo dan sumbu x, lo juga bisa tau gradiennya dengan cara</p>
                <div class="row"><div class="col-xs-2">
                  $$m = tan θ $$
                </div></div>
                <li>Turunan</li>
                <p>Pake turunan juga bisa, jadi</p>
                <div class="row"><div class="col-xs-2">
                  $$m = F'(x)$$
                </div></div></ul></ul>
    <h4>Fungsi Kuadrat</h4>
      <p>Bentuk umum fungsi kuadrat</p>
      <div class="row"><div class="col-xs-2">
        $$y = ax^{2} + bx + c$$
      </div></div>
{% endblock %}
