{% extends "base.html" %}
{% block content %}
  <h3>Konsep Bilangan</h3>
  Halo lagi. Kali ini kita akan bahas konsep bilangan. Mulai dari bilangan bulat, bilangan rasional, sampe bilangan riil. Sebenernya udah dibahas sih dikit di Bab Pertidaksamaan. Berarti, kalo lo belom mantep di Pertidaksamaan, baiknya lo tonton dulu itu bab. Kalo udah mantep? <em>Well, let's get it on</em>!
  <h4>Jenis-jenis bilangan dalam matematika</h4>
  <p>Kembali gue ingatkan, ada beberapa jenis bilangan yang penting untuk lo pahami. Diantaranya:</p>
  <ul>
    <li>
      Bilangan asli dan cacah
    </li>
    <p>Bilangan asli adalah himpunan bilangan bulat yang dimulai dari satu. Di Bahasa Inggris, bilangan asli disebut <em>Natural numbers</em>. Makanya sering dinotasikan dengan N.</p>
      <div class="row"><div class="col-xs-2">
        $$ N = \left \{ 1,2,3,... \right \} $$
      </div></div>
      <p>Himpunan bilangan cacah juga sama, cuma mulainya dari nol.</p>
        <div class="row"><div class="col-xs-2">
      $$ N = \left \{ 0,1,2,3,... \right \} $$
        </div></div>
    <li>Bilangan Bulat</li>
      <p>Himpunan bilangan bulat adalah himpunan semua bilangan yang habis jika dibagi oleh faktornya. Mulai dari negatif tak hingga sampe positif tak hingga. Di Bahasa Inggris, ia disebut <em>Integers</em>, dinotasikan dengan Z</p>
        <div class="row"><div class="col-xs-2">
      $$ Z = \left \{ -∞,.....0,1,2,3,...,∞ \right \} $$
        </div></div>
      <p>Kalo dibikin diagram venn-nya, himpunan bilangan bulat ada di dalam himpunan bilangan rasional. Makanya bilangan bulat memiliki karakteristik-karakteristik bilangan rasional di bawah ini.</p>
    <li>Bilangan rasional</li>
      <p>Bilangan rasional adalah bilangan yang bisa dinyatakan dalam pecahan. Sebaliknya, bilangan irrasional adalah bilangan yang gak bisa dalam pecahan. Bilangan rasional dinotasikan dengan Q, sedangakan bilangan irrasional dinotasikan dengan Q̄  .</p>
      <div class="row"><div class="col-xs-2">
      $$Q = \frac{a}{b}$$
      </div></div>
      <p>Dimana <em>a</em> dan <em>b</em> diatas adalah bilangan bulat.</p>
      <p>Biasanya, bilangan yang bisa dibentuk ke dalam pecahan itu bentuk desimalnya berulang. Nah kalo yang irrasional mah gak bisa. Maksudnya gimana nih bilangan yang desimalnya berulang. Misal kita mau nentuin apakah bilangan di bawah ini rasional apa nggak</p>
      <div class="row"><div class="col-xs-2">
        $$
        x \ = \ 3 \\
        y \ = \ \frac{4}{5} \\
        z \ = \ 0.77777.... \\
        π \ = \ 3.1415926.....$$
      </div></div>
      <p>Gimana cara kita nentuinnya? Oke, yang pertama. Bisa nggak kita nyatakan bilangan 3 ke dalam bentuk pecahan? Bisa aja, coba aja lo bagi 3 dengan 1, rasional kan?</p>
      <div class="row"><div class="col-xs-2">
        $$
        x \ = \ 3 \ = \ \frac{3}{1} \ ⇒ \left \{ x \ | \ x \ ϵ \ \mathbb{Q} \right \} \\ $$
      </div></div>
      <p>Kalo yang <em>y</em> gimana? Orang udah berbentuk pecahan dua bilangan bulat, yaudah berarti rasional</p>
      <div class="row"><div class="col-xs-2">
        $$
        y \ = \ \frac{4}{5} \qquad  \left \{ y \ | \ y \ ϵ \ \mathbb{Q} \right \} $$
      </div></div>
      <p>Sekarang <em>z</em>. Ini nih yang seru. Di atas gue bilang kalo desimalnya berulang, berarti bisa gue nyatakan dalam pecahan dengan dua bilangan bulat, yang berarti rasional juga. Gimana cara menyatakannya? Gini nih men</p>
      <div class="row"><div class="col-xs-2">
        $$
        z \ = \ 0.77777... \\ $$ </div></div>
      <div class="row"><div class="col-xs-2"> <p>Kalo gue kali sepuluh kan jadi</p>
        $$ 10z \ = \ 7.7777.. \\
         $$
      </div></div>
      <p>Udah gini, boleh dong gue kurang-kurangin dia semua</p>
      <div class="row"><div class="col-xs-2">
        $$ 10z \ - \ z = \ 9z \\
        7.7777... \ - \ 0.7777... = 7 \\
        9z \ = \ 7 \\
        z \ = \frac{7}{9} \qquad  \left \{ z \ | \ z \ ϵ \ \mathbb{Q} \right \} \\
         $$
      </div></div>
      <p>"bro, bro bentar bro. Kan yang di <em>10z</em>, 7-nya maju satu tuh, berarti desimalnya lebih dikit satu dong dari yang <em>z</em>? Emang kalo gitu bisa dikurangin?"<br>
      Nah, sebenernya desimal si <em>10z</em> gak kurang juga sih dari yang <em>z</em>. Kenapa gitu? Karena, <em>both z</em> dan <em>10z</em>, desimalnya tak hingga. Disini, gak ngaruh mau dimajuin berapa kali. Hasilnya tetep segitu juga. Gak percaya? Coba aja <em>z</em> di atas lo kali 1000 kali, terus lo operasiin kaya di contoh. Tetep aja ujung-ujungnya 7/9 juga. <br>  Gampang kan menyatakan bilangan dalam bentuk pecahan supaya rasional? Yang pasti lebih gampang daripada menyatakan cinta yang terkadang irrasional. Oke, gue tau, sorry. Tapi bener kan gampang? Gak usah ribet kalo nanti ketemu soal yang minta tentuin apakah x itu rasional apa nggak. Intinya gitu doang.</p>
      <p>Terakhir, si π. Lo liat deh nilainya di atas. Gak jelas kan? gak ada sama sekali polanya. Nah kalo si π berarti termasuk bilangan irrasional. Di belakang koma-nya angka terus berulang hingga tak hingga! Menariknya, karena dia secara acak mengulang angka terus-terusan, berarti semua kombinasi angka terdapat di π! Mulai dari nomer rekening om lo, nomer hp lo, nomer cd tetangga lo, <em>You name it</em> deh. Pasti itu semua terdapat di π.</p>
    <li>Bilangan riil</li>
      <p>Kalo bilangan riil, ia adalah semua bilangan yang terdapat di garis bilangan. Mulai dari -∞, 5, sampe π juga termasuk bilangan riil. <em>By the way</em>, konsep bilangan riil yang kaya gini, pertama kali dikenalkan oleh Rene Descartes. Bilangan riil Dinotasikan dengan R.</p>
      <br>
      <p>Nah kalo semua himpunan bilangan ini kita urutin dari yang jumlah bilangannya paling sedikit hingga paling banyak, maka </p>
    <div class="row"><div class="col-xs-2">
      $$ N < Z < Q < R$$
    </div></div></ul>
    <h4>Operasi bilangan</h4>
      <p>Operasi bilangan adalah proses yang menggunakan bilangan dan menghasilkan bilangan juga. Operasi bilangan bukan cuma tambah, kurang, kali, dan bagi doang. Ada buaaanyak banget. Mulai sin/cos, eksponen/logaritma, nilai mutlak dan banyak lagi. Di sini kita bakal bahas dikit aja.</p>
      <p>Lo tau kan kalo dalam operasi pembagian itu gak boleh penyebutnya nol. Kenapa gak boleh? coba liat dua contoh di bawah</p>
      <div class="row"><div class="col-xs-2">
        $$ 25 * 0 \  = \ 2344*0 \\
        0/0 \ = \ 2344/25 \\
        . \\ 
        0*1234 \ = \ 0*2 \\
        0/0 \ = \ 2/1234 \\
        $$
      </div></div>
      <p>Lo liat kan, hasilnya gak jelas. Pada contoh pertama, nilainya 2344/25. Pada yang kedua nilainya 2/1234. Gila, gak jelas banget. Maka dari itu lah, nilai dari 0/0 atau pembagian pake nol sama dengan tak-terdefinisi(∅).</p>
      <p>Sekarang gue kalo gue punya persamaan kaya di bawah. Berapa nilai <em>x</em>? Lo coba kerjain deh.</p>
      <div class="row"><div class="col-xs-2">
        $$
        \frac{2x-5}{x^{2}-x-6} \ = \ \frac{1}{x-3} $$
      </div></div>
      <br>
      <p>Yup, jawabannya tak-terdefinisi juga. Kalo jawaban lo 3, ati-ati lo. Lo liat penyebut di sebelah kanan persamaan. Kalo x-nya sama dengan tiga kan berarti penyebutnya nol. Kacau deh persamaannya. Ati-ati ya sama penyebut 0, keliatannya emang gampang tapi kadang-kadang suka kelewat.</p>
      <p>Segini dulu aja deh pendahuluannya. Di video-nya ada banyak lagi yang menarik kok. Check it out!</p>
{% endblock %}
