{% extends "base.html" %}
{% block content %}
<h3>Grafik DP</h3>
<p>Kali ini lo akan secara detil belajar tentang grafik. Apa aja yang akan lo perlajari di sini? Banyak men, mulai dari Konsep dasar grafik, grafik garis lurus, grafik tanda mutlak, grafik fungsi kuadrat, dan gabungan antar mereka. Belajar grafik itu penting banget karena lo diminta untuk memvisualisasikan persamaan atau fungsi yang ada. Hal ini dipake dimana-mana, di fisika, ekonomi, dll. Langsung aja kita liat satu-satu.</p>
  <h4>Konsep dasar grafik</h4>
  <p>Misalnya lo punya persamaan</p>
  <div class="row">
    <div class="col-xs-2">
      <p class="eq">$$y \ = \ F(x)$$</p>
    </div>
  </div>

  <p>Intinya, grafik adalah <u>semua</u> titik yang memenuhi persamaan itu. jadi, semua koordinat (<em>y</em>) lo masukin nilai dari fungsi tersebut. Maksudnya:</p>
  <div class="row">
    <div class="col-xs-2">
      $$(x,y) → (x,F(x))$$
    </div>
  </div>
  <h4>Garis lurus</h4>
    <p>Grafik garis lurus bisa disebut sebagai grafik paling simple. misal lo punya persamaan garis </p> <div class="row"><div class="col-xs-2">$$x = 2$$</div></div> <p>Grafiknya gimana? yaudah, berarti lo tarik aja garis di semua titik yang nilai x-nya sama dengan dua.</p>
    <p>Kalo grafik yang ada gradiennya gimana? Sesuai dengan definisi gradien</p>
    <div class="row"><div class="col-xs-2">$$m \ = \ \frac {Δ y}{Δ x}$$</div></div>
    <p>Maka, lo harus gambar garis, yang ketika lo ambil dua titik di garis itu, perbandingan y dan x-nya konsisten di setiap pasangan titik.</p>
    <br>
  <h4>Grafik tanda mutlak</h4>
    <p>Kalo yang tanda mutlak gimana? Lo inget kan definisi tanda mutlak, yaitu</p>
    <div class="row"><div class="col-xs-2">
      $$\left | x \right |\left\{\begin{matrix}
      x & kalo \  x>0  & \\
      -x& kalo \ x<0 &
      \end{matrix}\right. $$
    </div></div>
    <p>Jadi, karena nilai tanda mutlak pasti positif, nilai negatif di fungsi lo bakal dicerminin menjadi positif di grafiknya.</p>
    <br>
  <h4>Grafik fungsi kuadrat</h4>
    <p>Persamaan umum dari fungsi kuadrat itu kan:</p>
    <div class="row"><div class="col-xs-2">
      $$F(x) \ = \ ax^{2} \ + \ bx \ + \ c$$
    </div></div>
    <p>Nah, disini lo bakal belajar banyak mulai dari apa pengaruh koefisien di persamaan diatas, gimana cari tau titik puncak dan simetrinya, gimana ngegeser-geser si fungsi kuadrat di atas, dan lain-lain. Bukan cuma itu, lo juga bakal tau gimana kalo salah satu variabel diatas memiliki tanda mutlak. Kira-kira gimana grafiknya kalo gitu. Pokoknya seru deh</p>
    <p>Sekarang lo simak baik-baik ya videonya, jangan lupa kerjain soal-soal yang berhubungan dengan ini. Selamat belajar!</p>
{% endblock %}
