{% extends "base.html" %}
{% block content %}
  <h3>Konsep Bilangan</h3>
  Halo lagi. Kali ini kita akan bahas konsep bilangan. Mulai dari bilangan bulat, bilangan rasional, sampe bilangan riil. Sebenernya udah dibahas sih dikit di Bab Pertidaksamaan. Berarti, kalo lo belom mantep di Pertidaksamaan, baiknya lo tonton dulu itu bab. Kalo udah mantep? <em>Well, let's get it on</em>!
  <h4>Jenis-jenis bilangan dalam matematika</h4>
  <p>Kembali gue ingatkan, ada beberapa jenis bilangan yang penting untuk lo pahami. Diantaranya:</p>
  <ul>
    <li>
      Bilangan asli dan cacah
    </li>
    <p>Bilangan asli adalah himpunan bilangan bulat yang dimulai dari satu. Di Bahasa Inggris, bilangan asli disebut <em>Natural numbers</em>. Makanya sering dinotasikan dengan N.</p>
      <div class="row"><div class="col-xs-2">
        $$ N = \left \{ 1,2,3,... \right \} $$
      </div></div>
      <p>Himpunan bilangan cacah juga sama, cuma mulainya dari nol.</p>
        <div class="row"><div class="col-xs-2">
      $$ N = \left \{ 0,1,2,3,... \right \} $$
        </div></div>
    <li>Bilangan Bulat</li>
      <p>Himpunan bilangan bulat adalah himpunan semua bilangan yang habis jika dibagi oleh faktornya. Mulai dari negatif tak hingga sampe positif tak hingga. Di Bahasa Inggris, ia disebut <em>Integers</em>, dinotasikan dengan Z</p>
        <div class="row"><div class="col-xs-2">
      $$ Z = \left \{ -∞,.....0,1,2,3,...,∞ \right \} $$
        </div></div>
      <p>Kalo dibikin diagram venn-nya, himpunan bilangan bulat ada di dalam himpunan bilangan rasional. Makanya bilangan bulat memiliki karakteristik-karakteristik bilangan rasional di bawah ini.</p>
    <li>Bilangan rasional</li>
      <p>Bilangan rasional adalah bilangan yang bisa dinyatakan dalam pecahan. Sebaliknya, bilangan irrasional adalah bilangan yang gak bisa dalam pecahan. Bilangan rasional dinotasikan dengan Q, sedangakan bilangan irrasional dinotasikan dengan Q̄  .</p>
      <div class="row"><div class="col-xs-2">
      $$Q = \frac{a}{b}$$
      </div></div>
      <p>Dimana <em>a</em> dan <em>b</em> diatas adalah bilangan bulat.</p>
      <p>Biasanya, bilangan yang bisa dibentuk ke dalam pecahan itu bentuk desimalnya berulang. Nah kalo yang irrasional mah gak bisa. Maksudnya gimana nih bilangan yang desimalnya berulang. Misal kita mau nentuin apakah bilangan di bawah ini rasional apa nggak</p>
      <div class="row"><div class="col-xs-2">
        $$
        x \ = \ 3 \\
        y \ = \ \frac{4}{5} \\
        z \ = \ 0.77777.... \\
        π \ = \ 3.1415926.....$$
      </div></div>
      <p>Gimana cara kita nentuinnya? Oke, yang pertama. Bisa nggak kita nyatakan bilangan 3 ke dalam bentuk pecahan? Bisa aja, coba aja lo bagi 3 dengan 1, rasional kan?</p>
      <div class="row"><div class="col-xs-2">
        $$
        x \ = \ 3 \ = \ \frac{3}{1} \ ⇒ \left \{ x \ | \ x \ ϵ \ \mathbb{Q} \right \} \\ $$
      </div></div>
      <p>Kalo yang <em>y</em> gimana? Orang udah berbentuk pecahan dua bilangan bulat, yaudah berarti rasional</p>
      <div class="row"><div class="col-xs-2">
        $$
        y \ = \ \frac{4}{5} \qquad  \left \{ y \ | \ y \ ϵ \ \mathbb{Q} \right \} $$
      </div></div>
      <p>Sekarang <em>z</em>. Ini nih yang seru. Di atas gue bilang kalo desimalnya berulang, berarti bisa gue nyatakan dalam pecahan dengan dua bilangan bulat, yang berarti rasional juga. Gimana cara menyatakannya? Gini nih men</p>
      <div class="row"><div class="col-xs-2">
        $$
        z \ = \ 0.77777... \\ $$ </div></div>
      <div class="row"><div class="col-xs-2"> <p>Kalo gue kali sepuluh kan jadi</p>
        $$ 10z \ = \ 7.7777.. \\
         $$
      </div></div>
      <p>Udah gini, boleh dong gue kurang-kurangin dia semua</p>
      <div class="row"><div class="col-xs-2">
        $$ 10z \ - \ z = \ 9z \\
        7.7777... \ - \ 0.7777... = 7 \\
        9z \ = \ 7 \\
        z \ = \frac{7}{9} \qquad  \left \{ z \ | \ z \ ϵ \ \mathbb{Q} \right \} \\
         $$
      </div></div>
      <p>"bro, bro bentar bro. Kan yang di <em>10z</em>, 7-nya maju satu tuh, berarti desimalnya lebih dikit satu dong dari yang <em>z</em>? Emang kalo gitu bisa dikurangin?"<br>
      Nah, sebenernya desimal si <em>10z</em> gak kurang juga sih dari yang <em>z</em>. Kenapa gitu? Karena, <em>both z</em> dan <em>10z</em>, desimalnya tak hingga. Disini, gak ngaruh mau dimajuin berapa kali. Hasilnya tetep segitu juga. Gak percaya? Coba aja <em>z</em> di atas lo kali 1000 kali, terus lo operasiin kaya di contoh. Tetep aja </p>
    <li>Bilangan riil</li>
      <p>Bilangan riil adalah bilangan apapun yang ada di garis bilangan. Dinotasikan dengan R.</p>
      <br>
      <p>Nah kalo semua himpunan bilangan ini kita urutin dari yang jumlah bilangannya paling sedikit hingga paling banyak, maka</p>
    <div class="row"><div class="col-xs-2">
      $$ N < Z < Q < R$$
    </div></div>
  </ul>
{% endblock %}
