{% extends "base.html" %}

{% block content %}

<h3>Latihan Soal Trigonometri</h3>
<p>Di matematika, penting untuk lo ngerjain latihan-latihan setelah mempelajari teorinya supaya lo beneran menguasai ilmunya. Bukan di matematika doang ternyata, bahkan banyak deh riset yang ngedukung bahwa latihan setelah belajar teori membantu lo untuk menguasai sesuatu. Naaah, lo kan udah belajar banyak nih tentang Trigonometri. Sekarang waktunya lo <em>grinding</em> banyak soal.</p>
<p>Berikut adalah daftar apa yang telah lo pelajari sejauhi ini untuk membantu lo nginget-ngeinget sebelum lo ngerjain soal-soal di zenius.net</p>
<ul>
  <li>Definsi fungsi-fungsi di trigonometri (<em>sin</em>, <em>cos</em>, dan <em>tan</em>)</li>
  <li>Identitas fungsi-fungsi di trigonometri</li>
  <li>Nilai-nilai fungsi-fungsi trigonometri di keempat kuadran</li>
  <li>Rumus penjumlahan fungsi trigonometri</li>
  <li>Nurunin rumus penjumlahan fungsi trigonometri jika sudutnya ganda</li>
  <li>Aturan <em>sinus</em> dan <em>cosinus</em></li>
</ul>
<p>Nah, kalo lo lupa-lupa, mending lo cek dulu deh dua bab sebelumnya. Kalo udah inget, tunggu apa lagi? Sikat habis langsung soal-soalnya! </p>
{% endblock %}
