{% extends "base.html" %}
{% block content %}
<div class="tab-content">
   <div id="home" class="tab-pane fade in active">
     <h3>Persamaan Kuadrat</h3>
         <p>Buat lo yang lagi atau udah pernah belajar persamaan kuadrat, pernah gak sih lo bingung?
         <br> Misalnya
         , lo bingung apakah?<br></p>
         <p class="eq">$$x_{1} + x_{2} = \frac{b}{a}$$</p>
         <br>
         <br>
         <br>
         <br>
         <p>eh, apa gini ya??</p><br>
         <p class="eq">$$x_{1} + x_{2} = \frac{c}{a}$$</p>
         <br>
         <br>
         <br>
         <br>
         <p>Tapi, bukannya make tanda minus ya???</p>
         <p>Santai men, gak usah bingung. Setelah lo nonton video-video dan ngerjain soal persamaan kuadrat di sini, lo bakalan bisa nurunin formula sendiri. Jadi, gak ada lagi deh yang namanya banyak-banyak ngapalin rumus. Di bab ini lo bakal belajar persamaan kuadrat secara <em>step by step</em>.</p><p>Dimulai dari:</p>
         <ul><li class="eq">Definisi persamaan kuadrat dan akar-akar persamaan kuadrat</li>
           <br>
         <p class="eq">$$
         ax^{2} + bx + c = 0, \quad a \neq 0 \\
         (x - x_{1}) \ (x - x_{2}) = 0 \\
         x = x_{1} \vee x = x_{2}  $$</p>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
             <li class="eq">Mencari akar dengan cara melengkapkan bentuk kuadrat sempurna</li>
             <br>
         <p class="eq">$$
         x^{2} - ax + b = 0 \\
         a^{2} = b + c \\
         \Rightarrow (x - (\frac {a}{2}))^{2} - c = 0 \\
         \Rightarrow  (x - (\frac {a}{2}))^{2}  = c \\
         \Rightarrow (x - (\frac {a}{2})) = \pm \sqrt{c} \\
         ⇒ x_{(1,2)} = (\frac {a}{2}) \pm \sqrt{c} $$ </p>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
             <li class="eq">Mengenal rumus kecap</li>
             <br>
         <p class="eq">$$
         x_{(1,2)} = \frac{-b \pm  \sqrt{b^{2}-4ac}}{2a} $$ </p>
         <br>
         <br>
         <br>
         <br>
             <li class="eq"> Menentukan sifat akar-akar, misal</li>
             <br>
               <ul>
                 <li> Akar-akar kembar</li>
                 <p class="eq">$$D = 0$$</p>
                 <br>
                 <br>
                 <br>
                 <li> Akar_akar positif</li>
                 <p class="eq">$$\bullet \quad D\geq 0 \\
                               \bullet x_{1} + x_{2} > 0 \\
                               \bullet x_{1} * x_{2} > 0 \\ $$</p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <li>Masih banyak lagi</li>
                 <br>
               </ul>
               <li>Membuat persamaan kuadrat baru, misal</li>
                 <br>
                 <p class="eq">$$x^{2} + ax +b = 0 \\
                 x_{1} = (\alpha) \wedge x_{2} = (\beta) \\
                 Buat \ persamaan \ baru \ dgn \ akar-akar \ (\alpha)^2 \ \wedge (\alpha)^2 \\
                 \Rightarrow  (x - \alpha) \  (x - \beta) = 0 \\
                 \Rightarrow x^{2} + (\alpha^2+\beta^2)x +(\alpha*\beta)^{2} = 0 $$ </p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
         </ul>
         <br>
         <br>
         <p>Oke itulah beberapa hal yang akan lo pelajari di Bab ini. Oh iya! Jangan sekali-kali lo cuma ngapalin  rumus-rumus di atas. Mendingan sekarang langsung aja lo tonton video-videonya dan kerjain soal-soalnya.<p>

   {% endblock %}
