{% extends "base.html" %}
{% block content %}
<h3>Persamaan Garis Lurus dan Fungsi Kuadrat</h3>
            <p>Halo! Kali ini lo akan belajar Persamaan Garis Lurus dan Fungsi Kuadrat. Apa aja yang akan lo pelajari? lo bakal belajar perbedaan persamaan dan funsi, Memahami konsep gradien, pemetaan fungsi ke diagram cartesian dan banyak lagi. Pokoknya seru deh, langsung aja kita liat hal yang akan lo pelajari di bab ini satu persatu.</p>
            <br>
            <h4>Perbedaan persamaan dan fungsi</h4>
            <p>"Eh, bab sebelumnya gue udah belajar persamaan kuadrat. Kok sekarang gue belajar fungsi kuadrat juga? emang beda ya?"<br>
              Sekarang coba deh lo liat dua hal dibawah ini.<br></p>
              <p class="eq">$$
                3x - 5 = 0 \\
                y = \ 3x -5
                $$</p>
                <br>
                <br>
                <br>
                <br>
              Nah, apa sih perbedaan diantara mereka? Disini bakal dibahas secara detil persamaan dan perbedaan dari dua hal diatas.
              <br>
              <br>
            <h4>Konsep gradien</h4>
              <p>Dari persamaan umum garis</p>
              <p class="eq">$$y = mx + c$$</p>
              <br>
              <br>
              <br>
              <p>Lo tau kalo <em>m</em> itu gradien-nya. Tapi sebenernya gradien itu apa sih? Gunanya apa? Oke pertama-tama, definisi dari gradien adalah:</p>
              <p class="eq">$$ m = \frac {Δy}{Δx} $$</p>
              <br>
              <br>
              <br>
              <br>
              <p>Dalam persamaan garis lurus, gradien konstan di setiap titik. Dari definisinya, bisa dilihat bahwa semakin besar gradien-nya semakin miring garis-nya. Semakin kecil gradien-nya juga berarti semakin miring si garis, cuma arahnya kebalik. Di fungsi kuadrat juga sama, tapi gradien berubah-ubah di tiap titik. <br> Jadi gradien itu apa? Intinya, gradien suatu garis menyatakan seberapa miring garis tersebut.</p>
              <p>Penting banget buat lo memehami konsep gradien, karena lo perlu gradien untuk bikin suatu garis. memahami konsep gradien itu juga penting karena dapat membantu lo membaca grafik. Kemampuan ini kepake di setiap disiplin ilmu, kaya di fisika, biologi, ekonomi, dll. Pokoknya penting abis deh.</p>
              <br>
            <h4>Memetakan persamaan garis lurus dari/ke Grafik</h4>
              <p>Setelah lo belajar gradien, lo bakal belajar gimana mempraktikkannya dalam grafik. Lo liat lagi persamaan umum garis di atas. Lo kan udah tau gradien (<em>m</em>) itu apaan. Nah sekarang kalo <em>c</em>-nya apaan? Kalo gradien berguna untuk ngeliat kemiringan, si c ini gunanya buat apa? Di bagian ini lo akan nemuin jawabannya. Bukan cuma itu, lo juga akan belajar gimana cara bikin persamaan suatu garis cuma dengan ngeliat grafiknya.</p>
              <br>
            <h4>Hubungan dari dua garis</h4>
              <p>Sekarang gimana kalo lo disuruh nyari gradien garis tapi gak dikasih tau apa-apa kecuali bahwa garis yang diminta sejajar dengan garis lain? Gampang aja. Lo bisa juga kok nyari gradie garis pake hubungan garisnya dengan garis lain. Hubungan yang bisa dipake diantaranya:
                  <ul>
                    <li>Garis yang sejajar</li>
                    <p>m<sub>1</sub>=m<sub>2</sub></p>
                    <li>Garis yang tegak lurus</li>
                    <p>m <sub>1</sub> . m <sub>2</sub> = -1 </p>
                    <li>Sudut garis dari sumbu x = 0 </li>
                    <p> m = tan θ </p>
                    <li>Turunan persamaannya</li>
                    <p> y = mx + c </p>
                    <p> m = y' </p></ul>
              <p>Jangan lo hapal ya ini, di video ada pembahasannya kok.</p>
            <h4>Translasi persamaan garis</h4>
            <p>Persamaan garis juga bisa lo geser semau lo. Misal, lo mau mindahin garis lo sejauh (a,b), maka:</p>
            <p class="eq">$$
              y = mx + c \ \rightarrow \ \binom{a}{b} ⇒ \ y-b = m(x-a) + c
              $$</p>
            <br>
            <br>
            <br>
            <br>
            <p>Cukup sekian pendahuluannya, semoga ngasih bayangan dan bikin lo penasaran tentang apa yang akan lo pelajari di bab ini. Sekarang lo simak baik-baik video-nya ya. Persamaan garis lurus dibahas dari video nomer 01 sampe video nomer 18. Fungsi kuadrat akan dibahas di note selanjutnya. </p>
 {% endblock %}
