{% extends "base.html" %}
{% block content %}
<h3>Integral: Review dan Latihan Soal</h3>
<p>Di bab sebelumnya kan udah banyak tuh yang udah dipelajarin, mulai dari definisi sampe integral parsial dan substitusi. Nah, di bab ini, kita akan nge-review apa aja yang udah lo pelajari tentang integral dan tambahan tambahan pembahasannya. Bukan cuma itu, di sini juga ada dua puluh latihan soal dan pembahasannnya untuk ngebantu lo memantapkan konsep integral. </p>
<p>Untuk ngebantu lo mengingat, berikut adalah daftar hal yang telah lo pelajari:</p>
  <ul>
    <li>Definisi integral</li>
    <li>Contoh-contoh integral fungsi dasar</li>
    <li>Integral Parsial dan Substitusi</li>
    <li>Integral tentu dan sifatnya</li>
  </ul>
<p>Oke langsung aja deh lo tonton video reviewnya dan kerjain 20 soal berikut!</p>
{% endblock %}
