{% extends "base.html" %}
{% block content %}
  <h1>Jaringan</h1>
    <p>Lo kan udah belajar sel di bab sebelumya, sekarang gimana sel-sel tersebut bisa berkerja sama dan membentuk jaringan-jaringan yang ada di tubuh lo dan hewan lainnya kaya jaringan epitel, jaringan ikat, jaringan otot dan jaringan syaraf.</p>
    <p>Pada manusia dan hewan berkedudukan "tinggi" lainnya, sel-sel yang ada harus menjaga kondisi tubuh supaya tetap <strong>homeostasis</strong>. Homoestasis adalah keadaan suatu sistem dimana semua variabel diatur sedemikian rupa suapa kondisi internalnya tetap stabil. <em>Maksudnya gimana tuh</em>? Gini men, misalnya ada suatu hewan yang biasa di daerah yang suhunya 37°C, terus ada bencana, sekarang daerah tersebut suhunya 45°C. Sel-sel tersebut bakalan ngatur segala macem hal di tubuhnya supayanya tetap seperti berada pada daerah yang suhunya 37°C, misalnya dengan cara berkeringat yang banyak, dll. Nah, gabungan dari sel-sel tadi yang mempunyai fungsi yang sama disebut <em>jaringan</em> sel. Gabungan dari dua atau lebih jaringan sel membentuk <em>organ</em>. Kalo organ-organ tersebut bergabung menjadi satu sistem yang tujuannya sama, maka itu disebut sistem organ. Sistem-sistem organ  <!-- INCOMPLETE --> . Kira-kira begini lah diagramnya.</p>

    <p>Nah, di note kali ini kita cuma bakal belajar tentang jaringan aja. Sekali lagi, jaringan adalah gabungan sel-sel sejenis untuk berkerja dengan fungsi yang sama. Kalo gitu, jenis suatu jaringan menunjukan fungsi dari jaringan tersebut. Kenapa? Ya karena sel-sel penyusunnya dari jenis yang sama. Jaringan hewan dibagi menjadi empat jenis yaitu;  jaringan epitel, jaringan ikat, jaringan otot dan jaringan syaraf. Kita liat aja ya satu satu.</p>

    <h2>Jaringan epitel</h2>
    <p>Jaringan epitel jaringan yang </p>
    <h2>Jaringan otot</h2>
    <p></p>
    <h2>Jaringan ikat</h2>
    <p></p>
    <h2>Jaringan syaraf</h2>

{% endblock %}
